[2020-05-26 04:21] liyinan926 commented on #925
Forgot to mention that `spec.driver.coreRequest` is only available since Spark 3.0, which will be released soon.

[2020-05-26 05:00] weicheng113 commented on #925
@liyinan926 Great. Thanks. close now.

[2020-05-26 05:00] #925 closed

[2020-05-26 16:49] abelbarrera15 opened #926 "Spark operator fails to mount volume and crashes webhook-init"
I'm installing the spark operator --version 0.7.0

I continue to get the following error:
![image](https://user-images.githubusercontent.com/25710044/82927529-d94a1d80-9f4e-11ea-8e83-177c8cabd91e.png)

This is because the webhook-init keeps failing (note I deleted the private repo info):
Controlled By:  Job/spark-sparkoperator-webhook-init
Containers:
  main:
    Host Port:     <none>
    Command:

[2020-05-26 21:42] abelbarrera15 commented on #926
It looks like it can't set an endpoint:

NAME            TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)   AGE
spark-webhook   ClusterIP   10.10.121.123   <none>        443/TCP   147m

Name:              spark-webhook
Namespace:         spark-operator
Labels:            app.kubernetes.io/instance=spark
                   app.kubernetes.io/managed-by=Helm
                   app.kubernetes.io/name

[2020-05-26 22:19] abelbarrera15 commented on #926
I believe I found the bug--

In the .sh that generates the self-signed certificate the below is not respected:

https://github.com/istio/istio/issues/12157

Thus, since my server is isolated it won't be able to use the non-FAQN. Could the .sh be changed to be FAQN instead of CN=${SERVICE}.${NAMESPACE}.svc"

[2020-05-27 07:51] camper42 opened #927 "runtime error: index out of range"
base spark image: 3.0.0-rc2
spark-on-k8s-operator: current master(8c480ac)

[code]

task failed due to `20/05/27 15:48:08 WARN TaskSetManager: Lost task 47.0 in stage 1.0 (TID 38, 172.18.12.113, executor 1): org.apache.hadoop.security.AccessControlException: Permission denied: user=5089, access=WRITE, inode="/user/camper42/streaming_checkpoint/query2":camper42:supergroup:drwxr-xr-x`

5089 is `spar

[2020-05-27 07:55] marwanfahmi opened #928 "Spark operator within Kubeflow"
Hello,

I'm trying to execute a Spark job in a Kubeflow pipeline using a resourceOp, I'm using Kubeflow on GCP instance running a private GKE. I have an issue getting this to work in the KF namespace, I get a java socket closed message, however, when I try to install the operator in another namespace and execute the job manually it works. The KF pipeline runs in the KF namespace.

What could be pr

[2020-05-27 08:08] camper42 commented on #927
our executor pod's executor container name is `spark-kubernetes-executor`

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/webhook/patch.go#L203 not work, and index out of range at line 213

[2020-05-27 16:55] AliGouta opened #929 "Filtering on namespaces the controller listens to"
We need to have several instances of the operator. Each one listen Events from a different set of Namespaces. For example, imagine we want to have an instance of the operator that listens to namespaces dedicated to Dev environment and another one for staging environment. Both share the same cluster. Today, this is not supported as we either specify one or all namespaces. Looking at the code, we se

[2020-05-27 17:36] liyinan926 commented on #927
This has been fixed in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/876. It will be included in the next release.

[2020-05-27 17:38] liyinan926 commented on #928
You probably want to create an issue in the kubeflow repo instead. I'm not familiar with Kubeflow and the use of the KF namespace.

[2020-05-27 19:29] liyinan926 commented on #927
Looks like #876 missed some places. Will create a PR to fix.

[2020-05-27 20:51] #927 closed

[2020-05-28 04:12] camper42 commented on #927
thx

[2020-05-28 06:28] camper42 opened #931 "set correct SPARK_USER ENV when submit sparkapplications"
https://github.com/apache/spark/commit/4b3fe3a9ccc8a4a8eb0d037d19cb07a8a288e37a
start spark-3.0, driver & executor will configure with `SPARK_USER` env

executor pods. This is in line with how other resource managers
behave: the submitting user reflects which user will access
Hadoop services in the app. (With kerberos, that's overridden
by the logged in user.) That user is unrelated to the OS user

[2020-05-28 18:48] liyinan926 commented on #931
Not sure what you are asking for here. Can you elaborate what feature/fix/change you are thinking of?

[2020-05-29 01:15] camper42 commented on #931
spark-operator:
- username: 5089
- uid: 5089

spark-application (use `serucityContext.runAsUser: 3631` & mount `/etc/password`):
- username: camper42
- uid: 3631

---

Problem:

1. spark-operator submit app (spark-submit process uid 5089)
2. driver pod start, uid 3631, username camper42, but has environment variable `SPARK_USER=5089`, due to apache/spark@4b3fe3a
3. executor pod start, uid 3631, us

[2020-05-29 11:08] AliGouta opened #934 "containerPort is not added to driver and executor pods when specifying monitoring in app spec"
Jmx exporter works well and it does export metrics **locally** that might be scrapped by prometheus. However, there is no `containerPort` added to the pods after starting the application so that Prometheus may scrap these metrics through a `Service/ServiceMonitor` for instance.

**To reproduce, add the following in the application spec:**

[code]

**On executor pods, the exposed ports are:**

[cod

[2020-05-29 13:45] sahil-sawhney commented on #476
Hey @liyinan926 could you suggest some example for achieving " expose the port 8090 by patching it through the webhook."

[2020-05-29 15:43] rakshithvasudev opened #936 "Unable to consistently pull metrics in prometheus/grafana"
Yesterday I was able to see metrics work just fine for [this](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi-prometheus.yaml) example. But today the same metrics don't work, when I've made no changes.

Just so you know, I've exposed port 8090 as a service to be scraped by Prometheus by adding extrascrapeconfig. I've installed Prometheus as a [standalone

[2020-05-29 16:35] AliGouta commented on #936
I think you are mentionning 2 types of metrics. Metrics related to the operator and others related the soark applications. The former works fine, but the latter (when you say you expose the port 8090) I think it is related to this [issue](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/934). I have juste issued a PR about it few hours ago.

[2020-05-29 16:58] rakshithvasudev commented on #936
Thanks for the info @AliGouta. You're right, there are some metrics that are not spark related to spark operator. Those are just some examples though. I'm not sure why sometimes those spark operator metrics work. For example if I launch the same job 10 times, I might get metrics out for 3 jobs spread across attempts 1-10. That's where I'm not sure why it's inconsistent and what am I missing.

[2020-05-29 17:31] liyinan926 commented on #934
Related: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/476, https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/825.

[2020-05-29 17:40] liyinan926 commented on #476
@arijitdey @sahil-sawhney PR #935 will fix this and expose the port.

[2020-05-29 17:41] liyinan926 commented on #825
@rjonczy @alexakr PR #935 will fix this and expose the port.

[2020-05-29 18:50] #934 closed

[2020-05-29 18:50] #825 closed

[2020-05-29 18:50] #476 closed

[2020-05-29 18:55] #928 closed

[2020-05-29 20:56] sahil-sawhney commented on #476
Thanks a lot, @liyinan926 . In which spark operator version this change would be released?

[2020-05-29 21:38] sahil-sawhney commented on #476
Thanks a ton @liyinan926 :)

[2020-05-29 21:45] liyinan926 commented on #936
This and other issues related to opening up of the port for exposing metrics have been fixed in #935, which is included in the new release: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/releases/tag/v1beta2-1.1.2-2.4.5.

[2020-05-29 21:56] AliGouta commented on #936
You are welcome ! Looking forward to further contribute.

[2020-05-31 07:45] ycwdaaaa opened #937 "Got error when update crd"
error message:
I0531 07:30:32.834326      11 main.go:137] Starting the Spark Operator
I0531 07:30:32.896951      11 crd.go:66] Updating CustomResourceDefinition sparkapplications.sparkoperator.k8s.io
F0531 07:30:32.920040      11 main.go:163] failed to create or update CustomResourceDefinition sparkapplications.sparkoperator.k8s.io: CustomResourceDefinition.apiextensions.k8s.io "sparkapplications.

[2020-06-01 04:25] rakshithvasudev commented on #936
The new release works great! Thanks @AliGouta & @liyinan926

[2020-06-01 04:25] #936 closed

[2020-06-01 12:26] shensonj opened #938 "UnknownHostException while submitting spark jobs through operator"
@liyinan926 We are seeing following exception while submitting spark jobs through operator and executor PODs goes to error state. Have you seen similar errors? Any suggestions?

2020-05-28T20:04:21.692 [mainhread] WARN org.apache.hadoop.util.NativeCodeLoader - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Exception in thread "main" java.lang.

[2020-06-01 16:08] surajrajan-maf opened #939 "Argo workflow integration"
How do we submit spark application from argo workflows?

[2020-06-01 23:54] gongx commented on #905
I think it's worth fixing(populate applicate labels to driver and executors pods, by default). It will have the consistent behavior as other default operators, such as deployment, replicaset, etc (although there are some differences on yaml file). The only use case which will be potentially broken is that we want application labels totally different from its driver and executors. But I doubt that

[2020-06-02 02:43] liyinan926 commented on #905
@gongx Thanks for the detailed write up. I think option 2 sounds good as it would be backward compatible. I don't think it's necessary to have a field that controls label inheritance either. This could be as simple as applying labels in the `SparkApplication` resources and applying the ones defined in driver and executor specs. Labels defined in driver and executor specs will override the ones in

[2020-06-03 03:32] ycwdaaaa commented on #937
hello? anybody here?

[2020-06-03 03:51] liyinan926 commented on #937
Which version of k8s are you running, and where are your running your k8s cluster?

[2020-06-03 07:40] gongx commented on #905
@liyinan926 could you take a look at this PR: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/940, please?

[2020-06-03 17:53] liyinan926 commented on #905
@gongx reviewed and merged your PR. Thanks for fixing this issue!

[2020-06-03 17:53] #905 closed

[2020-06-03 18:15] liyinan926 commented on #939
This might help.

[2020-06-03 19:10] fcenedes opened #941 "Volcano scheduler"
Hi all

since updating to version "v1beta2-1.1.2 with Spark 2.4.5", sounds i can't use volcano as scheduler anymore.

Error message is :
[code]

i have tried to update the service role with :

[code]

adding :
[code]
make it move forward a bit, at least i see the podgroup creation but then failed with :

[code]

podgroup desc :
[code]

the memory seems to be execessive in regards of the job def :

[2020-06-03 19:26] liyinan926 commented on #941
The only change related to Volcano in this new release is https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/commit/7cd886c7ec449b929525c3e4d7a4b3824bf5d4b8.

[2020-06-03 20:24] fcenedes commented on #941
let me re-check if i have update volcano correcty. thanks for the inputs

[2020-06-04 03:56] ycwdaaaa commented on #937
@liyinan926
k8s version: 1.16
I run this in the master node with kubectl command ennable

[2020-06-04 23:07] liyinan926 commented on #937
So you already had the CRDs in the cluster before you ran helm install?

[2020-06-05 04:04] ycwdaaaa commented on #937
@liyinan926 no,  i just run the helm install command

[2020-06-08 16:36] sairamankumar2 commented on #883
Hi, I am looking to be a contributor in this project and I am interested to work in this issue. If someone can guide me on the way to become a contributor and make improvements on this issue will be really helpful.

[2020-06-08 21:56] jgoeres commented on #230
I am observing this on EKS, too, with Spark 2.4.5.  Interestingly, it works on some of our clusters, while it fails on others.
I try to gather where the differences are, or what other symptoms I observed:
- The ones for which this fails had been set up with a private API server endpoint access. However, changing that to public seems to not make a difference here.
- the cluster where it fails is EK

[2020-06-09 05:46] praveen-ag commented on #883
@k82cn can you help me with an example of the `min resource` feature? I've installed Volcano on my cluster and followed the instructions to run a Sparkapplication on a given Volcano queue as mentioned [here](https://github.com/TommyLike/spark-operator-volcano-demo/tree/master/demos/queue), but I'm not sure where to specify the `min resource` option. I've also looked into the [Volcano documentation

[2020-06-09 06:13] jgoeres commented on #883
@k82cn @praveen-ag
Yes, a bit of information on where and how to set the min resources would be needed here. I had a quick look through the sparkapplication CRD but found nothing that would allow setting the resources for the whole spark application (because this is what Volcano probably needs to know, since the executors and drivers are not launched by the same instance and at the same time, it c

[2020-06-09 09:23] AliGouta opened #942 "Unit test to be fixed"
The last commit leads to some unstable behaviour when running tests in `submission_test.go`.
Tests fail sometimes in the following [assertion](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/controller/sparkapplication/submission_test.go#L415). And several times run fine. I suspect that is related to the following [map](https://github.com/GoogleCloudPlatform/spark-on-k

[2020-06-09 10:54] fcenedes commented on #941
So if i aligned the needed ressources within the job def, it works, as volcano minResources is being satisfied.
But **before** it uses to queue the job properly, while the k8s autoscaler where getting additional ressources to serve the request.
Without volcano scheduler is work this way too.

i will look on the volcano side.
thanks again.

[2020-06-09 22:48] #942 closed

[2020-06-10 01:53] abelbarrera15 commented on #926
Note--- I was able to resolve this by punching a hole in the firewall. I don't think this should be necessary however. Based on what I've come to understand in the process, there should be a code edit that could be made such that it will not fail for pure isolated environments. If I have time, I will try to get back to seeing how I could fix this.

[2020-06-10 01:53] #926 closed

[2020-06-13 15:17] ocassetti opened #945 "Spark driver cannot access --py-files and --files (http / gs / s3 )"
I am not too sure if this is an issue with Spark/K8S or the entry-point of the image, but the result is that the driver can not access the files passed through `--py-files` and `--files` when these are from `HTTP` / `HDFS` including  `gs://`, `s3://`

Note that the files are actually correctly downloaded by spark on the driver pod but they are downloaded in `SPARK_LOCAL_DIRS`  and the working dire

[2020-06-15 23:42] rakshithvasudev opened #946 "Configmap Volume Mount Issue"
Hello There,

Quick problem summary: I'm not able to run the job because the volume is not getting mounted. When described the pod, it can't find the configmap. You'll find the error logs below.

My error is very similar to this: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/508, however all the solutions mentioned there didn't unfortunately work for me.
To summarize, I verif

[2020-06-16 03:31] ssquan commented on #828
Hi, Does spark-on-k8s-operator already support Spark 3.0 in the latest release version?  Which version was this PR merged? #707 @Jeffwan

[2020-06-16 09:14] weimin opened #947 "Executor pending"
Hi,
I tried to follow your example here on aws eks cluster: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md

I ran kubectl apply -f examples/spark-pi.yaml but it gave an error:
Message: Forbidden!Configured service account doesn't have access. Service account may have been revoked. pods "spark-pi-driver" is forbidden: error looking up service acco

[2020-06-16 14:35] sshah90 commented on #559
Hi, @kingledion did you resolved this issue? I am facing the same issue.

@liyinan926 do we have any good way to handle this?

[2020-06-16 19:39] kingledion commented on #559
We dropped use of this package because we never got a viable solution for about a month and moved on to other things.

[2020-06-17 03:43] rakshithvasudev commented on #455
I've installed the webhook, but I don't see the `ownerReferences` field.  Does anybody have the same issue? Here's how I installed the operator:
`helm install spark-operator incubator/sparkoperator --namespace spark-rak --set sparkJobNamespace=spark-rak,enableWebhook=true,operatorVersion=v1beta2-1.1.2-2.4.5`

I'm also not able to mount, more here: https://github.com/GoogleCloudPlatform/spark-on-k8

[2020-06-17 08:17] michalzxc commented on #910
I removed rbac permission to delete webhook from operator and it "solves" practical aspect of problem but not core issue tho

[2020-06-17 12:41] hagaibarel opened #948 "Getting scheduled spark application status metrics"
Hi all,

I'm trying to figure out how to get schedule metrics for spark applications. Ideally, I would like to see when was a last successful run and when is the next one. Basically all the things present in the `.status` field of the resource.

Any way I can pull that info in metrics form (or other) so I can build visualizing around it?

[2020-06-18 07:15] ssquan commented on #770
There are two Spark local directory if we use `spark-local-dir-2` .  Who creates volume `spark-local-dir-1`, Spark-on-k8s-operator or Spark?

[2020-06-18 19:58] liyinan926 commented on #947
How did you install the operator, through Helm or the yamls in this repo?

[2020-06-18 20:13] weimin commented on #947
Hi,
I did it using helm, actually the error went away after I restarted my kubernetes cluster and then ran

`$ kubectl create serviceaccount tiller --namespace kube-system
$ kubectl create clusterrolebinding tiller --clusterrole cluster-admin --serviceaccount=kube-system:tiller
$ helm repo add incubator http://storage.googleapis.com/kubernetes-charts-incubator
$ helm install incubator/sparkoperato

[2020-06-18 22:10] chickenPopcorn commented on #702
it's officially here. https://spark.apache.org/releases/spark-release-3-0-0.html

[2020-06-19 03:43] #947 closed

[2020-06-19 10:08] abhisrao opened #949 "Query on handling of CRD upgrades"
I would like to know how are we planning to handle sparkApplication and scheduledSparkApplication CRD upgrades when spark applications are running.
Let us say we have installed sparkApplication CRD version v1beta1 in our cluster and few streaming spark jobs are running (using this sparkApplication)
Now if we want to upgrade sparkApplication CRD to v1beta2. Our understanding is that we have to dele

[2020-06-19 12:50] praveen-ag commented on #883
It seems that [minResources](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/b597960d13c2fa244f3d766a433350e42d54b6ae/pkg/batchscheduler/volcano/volcano_scheduler.go#L124) for the PodGroup generated by the SparkOperator is being picked as the sum of driver and executor resource requests that we make in the [SparkApplication spec](https://github.com/GoogleCloudPlatform/spark-on-k8

[2020-06-19 17:20] AceHack opened #950 "Please support release Spark 3.0"
It was released yesterday, can you please update
https://spark.apache.org/docs/latest/

I'm happy to create my own base image if this can already be supported

[2020-06-21 20:54] liyinan926 commented on #702
Will create a new release based on Spark 3.0 soon. Stay tuned. Thanks.

[2020-06-21 20:54] liyinan926 commented on #950
Will create a new release based on Spark 3.0 soon. Stay tuned. Thanks.

[2020-06-22 11:06] scottydelta opened #951 "ImagePullBackOff on using operatorVersion"
The pod fails with `ImagePullBackOff` upon using `--set operatorVersion=latest` while installing the spark-operator from `http://storage.googleapis.com/kubernetes-charts-incubator` repo.

I want to use `imagePullSecrets` to pull image from Gitlab registry which I believe can only be done on latest version?

thanks

[2020-06-22 14:08] ankur-gupta-guavus commented on #819
@liyinan926 we are also observing this same issue . We checked API server logs and there are connection refused messages seen in API server logs while trying to call webhook, restart of spark operator pod resolves the problem. Can you help in isloting this issue ?

[2020-06-22 14:50] mirajgodha commented on #910
@michalzxc Thanks we also see the same behaviour in our cluster.

[2020-06-22 15:24] liyinan926 commented on #951
Can you try `--set operatorVersion=v2.4.5-v1beta2-latest`?

[2020-06-22 16:48] liyinan926 commented on #950
I have just built and pushed the following images:

`gcr.io/spark-operator/spark:v3.0.0`
`gcr.io/spark-operator/spark-py:v3.0.0`
`gcr.io/spark-operator/spark-operator:v1beta2-1.1.2-3.0.0`

[2020-06-22 16:48] liyinan926 commented on #702
I have just built and pushed the following images:

`gcr.io/spark-operator/spark:v3.0.0`
`gcr.io/spark-operator/spark-py:v3.0.0`
`gcr.io/spark-operator/spark-operator:v1beta2-1.1.2-3.0.0`

[2020-06-22 16:52] Jeffwan commented on #702
@liyinan926

What's the support plan? Do we want to maintain 2.x and 3.x in different branches and cut release separately? Or move to 3.x?

[2020-06-22 16:58] liyinan926 commented on #702
The short term plan is to switch the master branch to be based on 3.x and maintain 2.x in a separate branch. The long term plan is to move to 3.x completely.

[2020-06-22 21:39] scottydelta commented on #951
The operator runs now but the spark deployment fails with this log:

`Error from server (BadRequest): container "spark-kubernetes-driver" in pod "pyspark-pi-driver" is waiting to start: trying and failing to pull image`

This is my deployment yaml:

[code]

Kubernetes Version: `v1.15.12`
operatorVersion: `v2.4.5-v1beta2-latest`

[2020-06-22 22:13] shensonj opened #953 "High availability and DR support for spark application"
@liyinan926 Can you please let us know if there is any support for High availability and DR support for spark operator?

[2020-06-22 22:19] liyinan926 commented on #951
You need to look into why the driver container image (`registry.gitlab.com/user/repo/spark/spark-py:latest`) could not be pulled.

[2020-06-23 06:25] sairamankumar2 opened #955 "Separate yaml for deploying spark operator with volcano integration enabled."
Hi,
I was going through the manifest to find a spark operator yaml with volcano integration enabled. I wasn't able find one for the same. After going through helm charts of spark operator, I found out that I need to add the following arguments. It would be good if we can add it in volcano integration docs and also add a separate yaml for deploying spark operator with volcano enabled.

[2020-06-23 06:26] sairamankumar2 commented on #955
I would also like to work on the same issue and learn how to contribute to this project.

[2020-06-23 12:07] itamar-otonomo commented on #950
Thanks @liyinan926, will there be any changes to the API?

[2020-06-23 16:26] liyinan926 commented on #950
@itamar-otonomo There won't be major or backward incompatible changes to the API. There's a couple of new options in Spark 3.0.0 missing in the API. I created https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/954 to add them.

[2020-06-24 00:14] thealmightygrant opened #958 "Init Containers cause service account to not be properly mounted to driver during spark-submit"
We are using the latest release of the spark operator: `v1beta2-1.1.2-2.4.5`.

I believe that this is related to #537. I am adding an initContainer onto the driver pod like this:
[code]
This results in some very strange operator logs:
[code]
This only happens when I add one or more `initContainers`. Otherwise, this job functions normally and is processed correctly. I am wondering if there is some

[2020-06-24 02:40] scottydelta commented on #951
I have tried it with multiple registry, the problem definitely seems to be with the spark on k8s operator image not working with private registry such as Gitlab and Docker Hub itself. Has anyone managed to use this operator image with Gitlab registry?

@liyinan926, Gitlab provides free image registry hosting, Do you think you can try to host a spark-py image there and test private registry out?

t

[2020-06-24 14:29] dineshabbi commented on #616
@liyinan926  do we have spark operator image which can support spark 3.0 and the additional config fields you mentioned now ? This is super useful for deployments who want to auto scale up/down on kubernetes.

[2020-06-24 15:06] tcassaert opened #959 "Expose spark application to the outside world"
I am currently trying to run our Spark application with a REST API on Kubernetes, using the Spark Operator.

I got the driver and executors up and running, so that's all working. The Spark application is using a Gunicorn, to provide access to it. This gunicorn runs on a random port. This port, however, seems unknown to Kubernetes itself or to the spark operator, or the driver.

Our Spark/Yarn setu

[2020-06-24 15:36] thealmightygrant commented on #958
For extra context, here are the associated `role` and `rolebinding` for the default service account in this namespace:
[code]

And the role:
[code]

[2020-06-24 15:55] thealmightygrant commented on #958
For even more context, the reasoning behind this was that we wanted to automate the deleting of the checkpoints in an init container while we were doing development work on spark jobs. I _think_ that we can get around this use case by TTLing the buckets that we are using in GCS, but it is intriguing that it seems that no init containers work at all when run on the spark driver on k8s 1.14.

[2020-06-25 02:01] AceHack opened #960 "Please allow for namespace selector for sparkJobNamespace similar to webhookNamespaceSelector"
It seems weird that there are two ways to specify spark job namespaces, it would be nice to unify this.  I would prefer either a list of namespaces or a selector so we can have jobs in more than one namespace.

[2020-06-25 02:02] AceHack opened #961 "How to run spark 2.5.4, 2.5.5, and 3.0.0 side by side"
Will I need separate operators for each, can one operator do this, that would be preferred.  How can I go about setting this up.  Thanks.

[2020-06-25 12:48] vishnugs opened #962 "Spark 3.0.0 operator"
Would like to know when the helm operator for Spark 3.0.0 will be released ?

[2020-06-25 17:19] liyinan926 commented on #961
You don't need separate instances for different versions if all the versions are 2.4.x and above as the Kubernetes submission client is compatible. The latest version of the operator image based on Spark 3.0.0 should be able to handle apps of 2.4.x. With that being said, we do have a prototype of the operator that uses a Kubernetes Job to run `spark-submit` such that a single operator instance can

[2020-06-25 17:21] liyinan926 commented on #962
You meant the Helm chart? We already have a new operator image based on Spark 3.0.0 at `gcr.io/spark-operator/spark-operator:v1beta2-1.1.2-3.0.0`. You can use this image by adding the following to your helm install command:

[code]

[2020-06-25 17:23] liyinan926 commented on #960
It's tricky if not impossible to filter based on labels on the namespaces. https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/952 is close to what you ask by providing an option to specify a label selector on the custom resources the operator watches.

[2020-06-26 07:36] AliGouta commented on #960
`sparkJobNamespace` is not similar to `webhookNamespaceSelector`. `sparkJobNamespace` can take all or one single namespace but not a list. However, `webhookNamespaceSelector` can match labels attached to namespaces. What we proposed in [#952](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/952) is to further filter on labels attached to pods and custom resources (not to namespace

[2020-06-26 08:19] polyzos commented on #962
@liyinan926 does the image support Hadoop 3 binaries?

[2020-06-26 14:01] AceHack commented on #960
#952 would be a great addition and likely meet my needs.

[2020-06-26 16:34] liyinan926 commented on #962
No, the base Spark 3.0.0 image used is pre-built with Hadoop 2.7.

[2020-06-26 16:36] liyinan926 commented on #960
Cool, good to know. Will take a final pass over the PR and merge it.

[2020-06-26 21:19] liyinan926 commented on #960
#952 has been merged. Closing this.

[2020-06-26 21:19] #960 closed

[2020-06-26 21:28] polyzos commented on #962
is it possible to have one with hadoop 3 as well?

[2020-06-27 12:03] WaterKnight1998 commented on #962
I wonder how can I combine this chart with zeppelin? I would like zeppelin notebooks pyspark paragraphs to use spark operator.

Do you know if it is possible?

[2020-06-27 13:55] WaterKnight1998 opened #963 "Class com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem not found"
Hi, I built your spark-docker image it says that it has Googlestorage conector inside it. However, when I run in zeppelin notebook a read csv from google storage I am getting the following error:

[code]

It is like can not find the gcs connector jar.

[2020-06-28 02:20] #951 closed

[2020-06-28 21:59] czhang120 commented on #926
Hi abelbarrera15,

Could you share details on how you open the firewall to resolve this issue? I think we are having the same issue with an isolated environment.

Thanks!

[2020-06-29 00:51] scottydelta commented on #962
is private registry supposed to be working with `--set operatorVersion=v1beta2-1.1.2-3.0.0`?

[2020-06-29 07:18] hynix commented on #702
@liyinan926, could You release Java 11 based images as well?

Thanks

[2020-06-29 16:26] AceHack commented on #702
Yes java 11 please

[2020-06-29 21:47] AliGouta commented on #962
@polyzos  Another option would be to build a spark image by yourself from source, then push it to your registry:
http://spark.apache.org/downloads.html.  Then call it in your sparkApplication Deployment (you won't have gcs/prometheus connectors but you can add them and build your own image). I am interested to your feedback to know if everything runs fine.

[2020-06-30 05:36] liyinan926 commented on #962
@scottydelta you can use a private registry by setting `--set operatorImageName=<private registry URL of the image excluding the image tag>`.

As @AliGouta said, you can always build your own custom Spark image using a pre-built package you can download from the Spark site. Once you have a custom Spark image, you can simply build a custom operator image based on the custom Spark image.

@polyzos

[2020-06-30 07:21] polyzos commented on #962
@AliGouta watching the spark summit i  came across this
https://github.com/TomLous/medium-spark-k8s/blob/master/docker/spark-runner/Dockerfile
so today i think im gonna try use this with spark3 image @liyinan926 created and see if it's gonna work.
Do you see any potential bottlenecks with this approach? my goal is to use spark3 in order to connect to gen2 azure datalake

[2020-07-01 05:18] Gouthamkreddy1234 opened #964 "Volcano scheduler: minResource configuration support for spark-on-k8s-operator"
It looks like the minResource configuration is not supported for the spark operator which is crutial for gang scheduling pods in a spark-application. There is default value for minResource that is the total resource of driver and executor which we have to use if we use the spark operator.

(The latest update on this is that it is still being worked on. However, I will be opening this issue to trac

[2020-07-01 20:20] kyprifog commented on #422
@liyinan926  How is this intended to be used interactively in a  notebook, I am running a spark script in a local jupyter notebook, but it stalls out with

[code]

because the operator doesn't spin up any workers when running specifying the master to be the k8s master.

[2020-07-02 02:37] k82cn commented on #964
@hzxuzhonghu , please help on that when you have time :)

[2020-07-02 03:16] kyprifog commented on #422
Answering my own question.  I think that the openshift spark operator is much more suited for what I'm trying to do here as it allows you to run standalone clusters:

https://github.com/radanalyticsio/spark-operator

[2020-07-02 12:04] vishnugs commented on #962
currently i see

operatorImageName: gcr.io/spark-operator/spark-operator
operatorVersion: v1beta2-1.1.2-2.4.5
imagePullPolicy: IfNotPresent

[2020-07-02 12:09] vishnugs commented on #962
Is there any config related to feature included in this spark version? Or everything is in spark image.?

[2020-07-03 10:31] fcenedes commented on #962
That's what we use, as an approach as well, it works just fine.
We derived from gcr.io/spark-operator/spark, but you could just look at : https://github.com/apache/spark/blob/master/resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile

[2020-07-03 12:55] anandbabus01 commented on #906
even with double quotes also my installation is failing.
apiVersion: "sparkoperator.k8s.io/v1beta2"
no matches for kind "SparkApplication" in version "sparkoperator.k8s.io/v1beta2"

[2020-07-06 01:45] AceHack opened #965 "Spark 2.4.6 does not work with operator"
I will try and get further details and see if I can find a spark code changes that causes this problem but memory and cpu limits do not work correctly with spark 2.4.6 and cause sparkapps to never start.

`From sparkapp.yaml`
[code]

`From actual driver pod when using Spark 2.4.6`
[code]
This breaks everything and the container never gets created

`From actual driver pod when using Spark 2.4.5`
[c

[2020-07-06 12:11] Thor-wl commented on #964
@Gouthamkreddy1234 releated PR is https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/966

[2020-07-06 12:12] Thor-wl commented on #964
I'm still perfecting e2e case about the feature. New commit is on the  way.

[2020-07-06 17:06] liyinan926 commented on #964
Thanks @Thor-wl for the PR. @k82cn @hzxuzhonghu could you please take a look at the PR? Thanks.

[2020-07-06 17:58] Gouthamkreddy1234 commented on #964
Thanks @Thor-wl! :)

[2020-07-06 18:17] AceHack commented on #468
I'm still having this issue with 1.1.2

[2020-07-06 18:29] AceHack commented on #468
This is how I finally got it working with the latest operator, I don't think this is documented anywhere.  The `monitoring.metricsPropertiesFile` is also required not just `monitoring.prometheus.configFile`

[code]

[2020-07-07 01:14] kyprifog commented on #422
@liyinan926 do you have an answer for @mattdornfeld?  I was going to take a shot at adding support for client mode but I dont want to duplicate any existing in progress work.

[2020-07-07 09:14] silenceli opened #967 "Does RAPIDS Accelerator support"
Spark 3.0.0 support [RAPIDS Accelerator](https://github.com/nvidia/spark-rapids) which can provides a set of plugins for Apache Spark that leverage GPUs to accelerate processing via the RAPIDS libraries and UCX.

Do you have any plans to support this feature?

Look forward to your reply, thx!

[2020-07-07 12:42] silenceli commented on #967
I try above, It works

[code]

[2020-07-07 14:52] AceHack commented on #965
I found the problem it was not with Spark or the Operator, I had a 3rd party library that upgraded my io.fabric8:kubernetes-client to version 4.7.x.  This is was caused the weird resource limits, seems you have to stick with 4.6.x or you will run into this issue with resource limits.  Also for anyone else who has the same issue the weird cryptic error message I got was `"process_linux.go:319: gett

[2020-07-07 14:52] #965 closed

[2020-07-07 17:16] vlsvictor commented on #908
I'm facing the same issue when using Spark 3 on the k8s operator.

[2020-07-08 02:08] Thor-wl commented on #964
I have a doubt: whether custom configed request resource is less than the total resource of executors and drivers is permitted. I'm not so familiar with the real scenes of Spark application. Current code logic has no limition to the custom request resource.

[2020-07-08 02:08] Thor-wl commented on #964
I have a doubt: whether custom configed request resource less than the total resource of executors and drivers is permitted. I'm not so familiar with the real scenes of Spark application. Current code logic has no limition to the custom request resource.

[2020-07-08 02:42] william-wang commented on #964
Usually the custom configed request resource is less than total resource of executors and drivers.

[2020-07-08 08:08] Gouthamkreddy1234 opened #968 "Gang-scheduling with Volcano version=latest and version=v0.4 does not work with spark-operator"
**Spark-operator setup with helm**-
helm install incubator/sparkoperator --namespace spark-operator --set enableBatchScheduler=true --set enableWebhook=true

**Volcano installation** -
volcano version v0.4/latest - [https://github.com/volcano-sh/volcano/blob/release-0.4/installer/volcano-development.yaml](https://github.com/volcano-sh/volcano/blob/release-0.4/installer/volcano-development.yaml) (C

[2020-07-08 08:09] Gouthamkreddy1234 commented on #968
/kind bug

[2020-07-08 14:32] shensonj opened #969 "readiness/liveness probes to check spark driver health"
@liyinan926 is there any readiness/liveness probes to check spark driver health in spark operator?

[2020-07-08 19:13] Gouthamkreddy1234 commented on #968
On K8s v1.18 -

helm install incubator/sparkoperator --namespace spark-operator --set enableBatchScheduler=true --set enableWebhook=true

volcano version v0.4/latest - https://github.com/volcano-sh/volcano/blob/release-0.4/installer/volcano-development.yaml

No PodGroup created, No pod created. Just the Sparkapplication is created with this one event only -

Events:
  Type    Reason

[2020-07-08 21:24] saimadineni commented on #732
@jkleckner  Has this issue been ever resolved natively or you've just been using this hack?
Thanks

[2020-07-08 21:38] Gouthamkreddy1234 commented on #968
I have raised a pull request to modify the helm chart here since one of the templates was missing apiGroup scheduling.volcano.sh was missing in spark-operator-rbac.yaml

https://github.com/helm/charts/pull/23125

[2020-07-08 21:38] Gouthamkreddy1234 commented on #968
/resolved

[2020-07-08 21:38] #968 closed

[2020-07-08 21:52] FloraZhang opened #970 "Driver pod stuck in Terminating status when node died"
Hi Expert,

I'm experimenting High Availability on sparkapps and noticed that driver pod stuck in Terminating status if the node it deployed died. I was expecting that the driver pod would get terminated and recreated on another node, or while it's in terminating status another driver pod would be created, but instead it got stuck in Terminating status:

[code]

[code]

describe driver pod doesn't

[2020-07-08 21:59] jkleckner commented on #732
@saimadineni  I'm not aware of any in-built synchronization mechanism and I continue to use the script above to wait with a timeout.

[2020-07-09 00:10] rkautoid commented on #627
@liyinan926  I am facing the same problem. Executor logs shows the job as finished. I tried to explicitly kill the application using sys.exit(0) still the driver and the executor are in running state. Any pointers ? I am using v2.4.4 of the operator.

[2020-07-09 01:28] Thor-wl commented on #964
ok, thx

[2020-07-09 04:10] AceHack opened #971 "How does operator determine the name of executors"
This seems to have changed in newer versions, they used to match the driver, now they don't

[2020-07-09 11:08] karankale opened #972 "ScheduledSparkApplications configmap doesn't work after upgrading to spark 3.0"
On submitting the `scheduledSparkApplication` seeing the below error in the spark operator logs :
[code]
This is causing the configmap not be attached to the driver pod.
Seems the `sparkapplication` name is not being reflected properly. The name should be `qa-jtp-hourly-timestamp`

We are using the official spark operator 3.0 image for our testing.

Note: Normal `sparkApplication` is working witho

[2020-07-09 12:49] karankale commented on #972
On checking the pod spec found that one of the labels for the spark app pod is `sparkoperator.k8s.io/app-name=qa-jtp-hourly`, this is not correct

reference code:
[code]

[2020-07-09 14:36] AceHack commented on #971
I found out what's going on after some hard debugging.  When we code spark jobs and are building the context we put

`SparkSession.builder().appName(name)`

It appears to be cleaning up `name` and using that instead of spark.app.name that the operator passes for the executor pods.  I am updating our code so that appName and spark.app.name match and hopefully that will fix my issues with the latest

[2020-07-09 19:11] AceHack commented on #971
Yes I'm now creating a `SparkConfig()` which automatically reads existing spark config properties and I only set appName if `spark.app.name` is not already set, this is to make local debugging possible as well.  I will close this issue.  Thanks.

[2020-07-09 19:11] #971 closed

[2020-07-10 19:41] liyinan926 commented on #969
No, the operator doesn't add any readiness/liveness probes to the driver pod.

[2020-07-10 19:53] liyinan926 commented on #962
Closing this, and will continue to use #702 to track any remaining work to support Spark 3.0.0.

[2020-07-10 19:53] #962 closed

[2020-07-10 19:53] liyinan926 commented on #961
Have you tried running apps of different Spark versions using the 3.0.0 based operator image?

[2020-07-10 20:11] liyinan926 commented on #972
What does the status section of your `ScheduledSparkApplication` look like?

[2020-07-10 20:14] #929 closed

[2020-07-10 23:59] AceHack commented on #961
Not yet been running into issues with different versions of 2.4.x at the moment.  I think I got all those figured out and will try 3 soon.

[2020-07-11 03:30] william-wang opened #973 "Does spark-on-k8s-operator support using RAM as local storage?"
Spark support  to use RAM as local storage for diskless nodes case by setting "spark.kubernetes.local.dirs.tmpfs=true" for spilling data.  Does spark operator support this kind of feature? How we can use it if supported.

Here is the instruction of "use RAM as local storage" in spark cloud native  way:
http://spark.apache.org/docs/latest/running-on-kubernetes.html

[2020-07-12 20:31] liyinan926 commented on #973
Yes, you can achieve it using `sparkConf`, for example:

[code]

[2020-07-12 20:37] AceHack commented on #961
At first, I was not able to run spark 2.4.x jobs with the 3 operators.  The following configuration did not work but it worked fine with the 2 operator.  I got something along the line of spark/app/* jar not found.

[code]

I changed my configuration to delete the above and use

[code]

And that works fine.

[2020-07-12 20:51] AceHack commented on #961
I take it back, it's not working, my jobs are failing to read mounted volumes, trying to investigate further.

[2020-07-12 21:36] AceHack commented on #961
My code has not changed in weeks, works fine with spark operator 2.4.x but breaks with spark operator 3.x.  The job is running on spark 2.4.6. Somehow I had a bug that spark didn't occur when using the 2.4.x operator but did when using the spark 3.x operator.  I was recursively looking for a file on the file system starting from a directory and going upwards until I reached root.  I accidentally w

[2020-07-13 05:13] liyinan926 commented on #961
That's great to know! Looks like we can make the Spark 3 operator the default. Closing this now.

[2020-07-13 16:00] #973 closed

[2020-07-13 16:12] jkleckner commented on #961
@AceHack Just to be clear, your 2.4.x job is running now with spark 3.0 via the spark-operator operator 3.x true?  My belief is that #658 is merged, the operator can't launch 2.4.x spark jobs.

[2020-07-13 16:20] liyinan926 commented on #961
#658 has not been merged. With or without #658, a 3.0 based operator can launch jobs in both 2.4.x or 3.0 as far as @AceHack verified.

[2020-07-13 16:29] AceHack commented on #961
My job is a built against spark 2.4.6 scala 2.12 in a spark 2.4.6 scala 2.12 Docker container.  The operator is using spark 3.0.0 with operator 1.1.2.

[2020-07-13 17:21] liyinan926 commented on #961
What about jobs in 2.4.5? I believe they should just work like ones in 2.4.6.

[2020-07-13 17:23] jkleckner commented on #961
To put it in another way, by specifying the container that the operator uses to be spark 2.4.x-based, the spark-submit with that image works, true?

[2020-07-14 02:06] liyinan926 commented on #961
@jkleckner The scenario looks like the following:

You can use a 2.4.x driver/executor container image with a 3.0.0 based operator image. 3.0.0 based `spark-submit` run by the operator is able to create a 2.4.x driver pod, which then runs `spark-submit` in client mode and launches 2.4.x executor pods.

[2020-07-14 03:32] #969 closed

[2020-07-14 03:35] liyinan926 commented on #953
You can increase the instances of the operator Deployment to be greater than 1 and turn on leader election to achieve HA within a single cluster. See https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#enabling-leader-election-for-high-availability.

[2020-07-14 03:35] #953 closed

[2020-07-14 06:02] william-wang commented on #973
Great thanks for your response.

[2020-07-14 19:05] janarthanandev commented on #407
now we can try out new version

[2020-07-14 19:06] janarthanandev commented on #368
you can try new version `apiVersion: "sparkoperator.k8s.io/v1beta2"`

[2020-07-14 19:21] arpit1997 opened #974 "Cleanup ui-svc after spark job is completed"
When spark job is created it creates a k8s service for Spark UI. After the spark job is completed the k8s service is not deleted.

[code]

Steps to reproduce:
1. Run a spark job
2. Wait for it to complete and see `kubectl get svc -n <namespace>`

[2020-07-14 19:40] liyinan926 commented on #974
The UI service will be cleaned up once you delete the `SparkApplication` object. There's an ownerReference pointing to the  `SparkApplication` object in the UI service.

[2020-07-14 22:22] sujitbiswas opened #975 "spark 3.0.0 operatorVersion: v1beta2-1.1.2-3.0.0 , inconsistent driver and executor pod names"
an earlier version of the spark-operator would have a consistent naming of pods,  example

drive-pod-name = **metropolis-spark**-driver
executor-pod-name =  **metropolis-spark**-exec... (1 or 2 or 3 etc)

the new version generates the pod name from the mainClass

status:
    applicationState:
      state: RUNNING
    driverInfo:
      podName: **metropolis-spark-driver**
      webUIAddress: 10.233

[2020-07-14 22:25] liyinan926 commented on #975
See this https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/971.

[2020-07-14 22:47] liyinan926 commented on #975
BTW: In both 2.4.x and 3.0.0, the *prefix* of the executor pod names is derived from the app name. The operator sets `spark.app.name` to the name of the `SparkApplication` resource when submitting the app to run.

[2020-07-14 23:00] sujitbiswas commented on #975
@liyinan926 thank you

[2020-07-14 23:03] #974 closed

[2020-07-15 15:49] #975 closed

[2020-07-16 14:04] sushiljacksparrow commented on #758
I am wondering if the comment made by liyinan926 is still true. My understanding is that it is supported if you use spark-3.0

[2020-07-16 16:06] liyinan926 commented on #616
@dineshabbi yes, we now have the following images:

gcr.io/spark-operator/spark:v3.0.0
gcr.io/spark-operator/spark-py:v3.0.0
gcr.io/spark-operator/spark-operator:v1beta2-1.1.2-3.0.0

[2020-07-16 16:07] liyinan926 commented on #758
@sushiljacksparrow what is supported in Spark 3.0 is a form of dynamic resource allocation that is different than what you get in other scheduler backends. See https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/616.

[2020-07-16 18:08] liyinan926 commented on #758
Dynamic allocation via shuffle tracking will be supported in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/976.

[2020-07-16 18:09] liyinan926 commented on #641
A limited form of dynamic allocation via shuffle tracking will be supported in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/976.

[2020-07-16 18:09] liyinan926 commented on #616
This limited form ofdynamic allocation will be supported in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/976.

[2020-07-16 18:16] #616 closed

[2020-07-16 18:40] mmpereira opened #977 "Specifying tnsnames"
Hello,

I'm trying to read data from an Oracle database and for that I have to specify the location of the tnsnames.ora file.
Before using the operator I would specify the path to the file through the _extraJavaOptions_ variable as such:
`time spark/bin/spark-submit --class "<classname>" --master "local[4]" --conf "spark.driver.extraJavaOptions=-Doracle.net.tns_admin=<path to .ora>" whatever.jar`

[2020-07-16 21:19] codersofthedark opened #978 "SparkApplication is not injecting env variables"
I am following the doc here: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#specifying-environment-variables

my manifest:
[code]

Environment Variables set at pod:
[code]

I followed the exact step in the doc but env variables are still not injected in executor or driver pod. Please help

[2020-07-16 21:22] liyinan926 commented on #978
Have you enabled the webhook? Using `env` or `envFrom` requires the webhook to be enabled.

[2020-07-16 21:35] codersofthedark commented on #978
I haven't enabled `webhooks`. The following approach worked, thank you @liyinan926
[code]

[2020-07-16 21:35] #978 closed

[2020-07-17 00:23] renjigeorge commented on #732
what are these resources used for "sparkapplications/status" ?

[2020-07-17 12:54] mmpereira commented on #977
Hello,

I managed to solve the issue. It path specified in the property shouldn't contain "local://".

Cheers.

[2020-07-17 12:54] #977 closed

[2020-07-17 18:00] liyinan926 commented on #950
We have pretty much added support for most new options in Spark 3.0.0 that are relevant in the context of the operator. We just added support for [a limited form of dynamic allocation without an external shuffle service](https://issues.apache.org/jira/browse/SPARK-27963) in #976. Closing this and will prepare a new release for 3.0 soon.

[2020-07-17 18:00] #950 closed

[2020-07-17 20:36] liyinan926 commented on #702
We now support in the latest [release](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/releases/tag/v1beta2-1.2.0-3.0.0) pretty much all the new config options and enhancements introduced in Spark 3.0.0 except for pod template files, which don't make much sense in the context of the operator. The master branch has also been switched to be based on Spark 3.0.

[2020-07-18 00:45] AceHack commented on #950
Can you create or point to some docs on the dynamic allocation?

[2020-07-19 11:27] lynic commented on #921
Met the same issue on k8s 1.18, any plan to fix it?

[2020-07-20 02:23] scottydelta opened #980 "Unable to install spark operator on fresh install"
I have a fresh install of kubernetes created using kops where I am running following commands from the README:

[code]

This is the error I am getting:

[code]

The same setup was working last week.

[2020-07-20 15:34] liyinan926 commented on #980
Created https://github.com/helm/charts/pull/23266 to fix the chart.

[2020-07-20 16:32] smndf opened #981 "hostAliases support in SparkPodSpec"
Is there a reason why hostAliases is not supported in the SparkApplication custom resource, while dnsConfig is?

[https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/ )

[2020-07-20 20:17] liyinan926 commented on #981
No particular reason. Support for such fields are typically added when someone has a use case for a particular field and creates a PR.

[2020-07-20 20:17] liyinan926 commented on #980
Please give the latest version (0.8.1) of the chart a try.

[2020-07-20 20:17] #980 closed

[2020-07-20 20:29] scottydelta commented on #980
works now, thanks

[2020-07-21 06:31] shardulsrivastava opened #982 "Error running prometheus example"
When m trying to run [prometheus example](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi-prometheus.yaml) , m getting this error:

[code]

In this example , image is :

[code]

however this image doesn't seem to have the **prometheus Jar** and in the user guide's [monitoring section](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/maste

[2020-07-21 06:39] liyinan926 commented on #982
`gcr.io/spark-operator/spark:v3.0.0-gcs-prometheus` should be available now.

[2020-07-21 07:13] shardulsrivastava commented on #982
@liyinan926 tried the new image , however error remains the same:

[code]

Here is the error:

[code]

[2020-07-21 18:57] andizzle commented on #892
The issue was caused by dual sparkopeartors that watch over all namespaces, it's a race condition where both operators are trying to fire up the application.

Solved by specifying `sparkJobNamespace ` in operator's config.

[2020-07-21 18:57] #892 closed

[2020-07-21 19:55] liyinan926 commented on #982
Somehow the recent version bump incorrectly changed the image tag in the example. Fixed it just now. Please give it a try.

[2020-07-22 12:33] talgos1 commented on #270
I'm trying to auto-generate the java client code using the official auto generator but it seems not to work properly (for instance: 1. io.k8s group prefix is filtered out, 2. SparkApplication model is generated as an object)
Does anyone manage to solve this?
https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

[2020-07-22 17:53] Coqueiro opened #983 "Spark 3.0.0 Python image not being able to read using S3AFileSystem"
Hi! I'm trying to run a pyspark (spark 3.0.0) job which runs a `spark.read.json("s3a://bucket/path/to/data.json")` in order to retrieve some data for processing, using image `gcr.io/spark-operator/spark-py:v3.0.0` and I'm hitting a `Class org.apache.hadoop.fs.s3a.S3AFileSystem not found` wall:
[code]

I tried creating a custom Spark image as follows:
[code]

But it didn't work either.

Does anyone

[2020-07-22 19:16] Coqueiro commented on #983
Also tried the following docker image:
[code]

[2020-07-23 06:19] moskvax commented on #982
@liyinan926 The prometheus jar got added to the image by root with 600 permissions, preventing Spark running as uid 185 from seeing it:
[code]

[2020-07-23 19:36] songfeil opened #985 "Cannot install helm chart on minikube"
Hi,

I'm trying install the helm chart on minikube following the quick start guides. However it cannot be installed and here's the error log.

`Error: CustomResourceDefinition.apiextensions.k8s.io "scheduledsparkapplications.sparkoperator.k8s.io" is invalid: [spec.validation.openAPIV3Schema.properties[spec].properties[template].properties[driver].properties[sidecars].items.properties[ports].items.

[2020-07-24 04:09] liyinan926 commented on #985
You likely ran into this issue: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/921.

[2020-07-24 05:50] liyinan926 commented on #921
Related issue in k8s: https://github.com/kubernetes/kubernetes/issues/91395.

[2020-07-24 15:18] #921 closed

[2020-07-24 15:19] liyinan926 commented on #985
The Helm chart has been fixed, please give the latest version a try.

[2020-07-26 19:47] dzlab opened #988 "Minikube Failed to pull image http: server gave HTTP response to HTTPS client"
I'm trying to submit a Spark Operator application on minikube which I'm running on OSX with hyperkit with insecure registry enabled, like this:
[code]
I can inspect the registry on the minikube IP address and supporting only HTTP
[code]
I;ve built an image locally for my Spark job and made it available on the locally Registry. I can create a deployment using this image successfully, see below:
[co

[2020-07-27 09:26] debojitkakoti opened #989 "Error: unable to build kubernetes objects from release manifest"
Tried to install spark operator on gke v1.14.10
`helm install sparkoperator incubator/sparkoperator --namespace spark-operator --set sparkJobNamespace=spark-jobs --skip-crds  --set enableWebhook=true --set webhookPort=443`

Got following error

` Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(CustomResourceDefinition.sp

[2020-07-27 14:51] songfeil commented on #985
Fixed! Thanks very much!

[2020-07-27 14:51] #985 closed

[2020-07-27 18:44] be-rock commented on #983
i am seeing this same issue in spark 2.4.5

[2020-07-27 21:09] Coqueiro commented on #983
I figured out how to do it:
Here’s a fork with the changes I made to the base docker image (just a few changes):
https://github.com/Coqueiro/spark/tree/branch-3.0-s3
I created a Makefile to aid distribution creation, but I basically just followed the official doc:
http://spark.apache.org/docs/latest/building-spark.html
Also, here’s the image, already built and pushed to Docker Hub:
https://hub.doc

[2020-07-28 02:37] cwei-bgl commented on #422
It would be good to add Jupyter Notebooks support. I am waiting for it also.

[2020-07-28 10:21] debojitkakoti commented on #989
Able to install it by passing `--disable-openapi-validation` in helm install command.

[2020-07-28 10:21] #989 closed

[2020-07-29 11:54] chrevanthreddy commented on #302
@CsatariGergely @breetasinha1109 I have merged the kerberos support branch with latest beta2 changes and using it for production in Comcast. Is it fine with you guys if we submit a pull request to get it merged upstream?

[2020-07-29 16:40] #983 closed

[2020-07-29 18:19] adamlefevre opened #991 ""Legacy monitoring is not supported..." deploying gcr.io/ynli-k8s/spark:v2.3.0-gcs"
I'm attempting to deploy the gcr.io/ynli-k8s/spark:v2.3.0-gcs container to Google Kubernetes Engine and the deploy fails with error: "Legacy monitoring is not supported in clusters running Kubernetes 1.15 or above."

I was following documentation at spark-on-k8s-operator/docs/gcp.md

[2020-07-29 20:21] andrewgdavis commented on #908
Was there a resolution to this problem?  I am currently hitting this when using an older operator.  It creates the driver with
[code]
but the spark3.0 image doesn't have "driver-py" (it was removed from the entrypoint.sh script).

Does this mean that support for spark3.0 images needs a particular version of the operator?

[2020-07-30 10:25] CsatariGergely commented on #302
@chrevanthreddy yes it is fine for us. Please go ahead.

[2020-07-30 18:18] whyvez opened #992 "Retrying connect to server: 0.0.0.0/0.0.0.0:8032."
I'm running a PySPark SparkApplication with Spark version 3 and the application fails when trying to connect to the ReourceManager.

What would you suggest for the next troubleshooting steps?

Here are my app logs:

[code]

[2020-07-30 19:29] whyvez commented on #992
Fixed: I still had the master set to yarn.

change

[code]

to

[code]

[2020-07-30 19:29] #992 closed

[2020-07-31 04:35] andizzle commented on #946
What version of SparkOperator are you using? Any chance you have multiple SparkOperator in the K8S cluster?

[2020-08-04 00:13] jdonnelly-apixio commented on #982
I saw the issue that @moskvax hit so I built a container on top of spark:v3.0.0-gcs-prometheus and chmod 644'd the prometheus jar, but I got this exception next:

[code]

The dockerfile:
[code]

[2020-08-04 02:02] shardulsrivastava commented on #982
@jdonnelly-apixio how did you build your image using docker-image tool of Spark or plain docker build command ??

[2020-08-04 04:27] moskvax commented on #982
@jdonnelly-apixio the same permissions issue exists with the bigquery/hadoop/guava jars added to `/opt/spark`; after the permissions on these jars are fixed, the container should work fine.

[2020-08-04 15:15] AdamGS commented on #946
I'm having the exact same issue, using the latest version of the operator on minikube.

[2020-08-04 16:58] liyinan926 commented on #991
Looks like the container image you are using is too old. Could you please try `gcr.io/spark-operator/spark:v3.0.0-gcs-prometheus`?

[2020-08-04 17:00] liyinan926 commented on #982
Will fix the Dockerfile and rebuild the image.

[2020-08-04 17:06] rakshithvasudev commented on #946
Here is how I installed the operator : `helm install spark-operator incubator/sparkoperator --namespace spark-rak --set sparkJobNamespace=spark-rak,enableWebhook=true,operatorVersion=v1beta2-1.1.2-2.4.5`.

It might be possible, the cluster has kubeflow installed. I think it ships with sparkoperator.

[2020-08-05 21:59] jaesong-mongo commented on #216
We are running into an issue that may potentially be solved by the proposed `subPath` approach. We need to have a custom `hive-site.xml` in the config path to connect to Glue data catalog.

Is this issue being worked on actively or planned to be resolved soon?

[2020-08-07 06:28] dustinTDG commented on #627
@liyinan926 I am having this issue when running k8s operator, writing as a delta table, and using Ozone. The logs are fine nothing there to raise suspicion. The executor sent all information back to the driver. When I describe the app, the status is running but the message below has them in a pending state.

[2020-08-09 15:33] batCoder95 commented on #843
@ssvinoth22 - I believe this issue of S3 jars can be resolved by adding sparkConf in spec section as per this [documentation](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#specifying-spark-configuration)

Below is an example of my YAML file where I am not seeing the s3 error anymore:
`apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
me

[2020-08-10 16:21] jkleckner commented on #627
@dustinTDG / @rkautoid Can you grab thread dumps from the executors page of the Spark UI?

I'm wondering if this is related to the problem fixed [1] in 3.0 branch of Spark but not yet back ported to the 2.4 branch?
That was SPARK-24266 [2] which fixed a loss of an HTTP_GONE event from the k8s control plane.

[1] https://github.com/apache/spark/pull/28423
[2] https://issues.apache.org/jira/browse/S

[2020-08-10 16:34] liyinan926 commented on #982
The image  `gcr.io/spark-operator/spark:v3.0.0-gcs-prometheus` has been rebuilt and pushed.

[2020-08-10 17:16] shardulsrivastava commented on #982
@liyinan926  will test it out.

[2020-08-10 19:23] puneetloya commented on #627
I see this error a lot in the batch jobs:
[code]
I do think its related to the above issue. The batch job starts, Driver is able to spin up new executors, communicate with them and get the job done, but cannot clean them up.

[2020-08-11 13:33] batCoder95 opened #996 "Unable to use S3 File as mainApplicationFile"
Hi,

I am trying to install this operator (gcr.io/spark-operator/spark-py:v3.0.0) on my EKS cluster and then run a simple pyspark file that resides on my S3 bucket. I went through some of the documentation and found out that we need to set spark configurations in the YAML file in order to enable S3 file system. Therefore, I configured the same and below is how my YAML file looks like now:

`apiVer

[2020-08-11 16:28] urihoenig commented on #610
@liyinan926  - Is this branch still planned to be merged into master? Will it support spark 2 & 3 in parallel?

[2020-08-11 19:52] jkleckner commented on #627
It looks a bit different from what I see.  For me, it appears to get stuck at the very end of writing data to Bigtable in the very last task of a job.  Our partner is working to back port the fix I mentioned and I will let you know if that addresses the hang.

[2020-08-13 10:53] batCoder95 commented on #996
Hi all,

I was able to get this working by adding an extra sparkConf: `"spark.driver.extraJavaOptions": "-Divy.cache.dir=/tmp -Divy.home=/tmp"`

Now my pySpark file is being submitted. But in the pySpark file, I am reading data from S3 and writing it back to S3 at a different path. That part is again failing with error `class org.apache.hadoop.fs.s3a.s3afilesystem not found`.

In the PySpark file,

[2020-08-14 07:09] Quietghost opened #997 "SparkR support?"
Hi all,

I was wondering if you also support SparkR application as I didn`t find anything in the documentation about it - I only found this open issues about it https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/838?

Thank you very much for your answer.

Best
Sebastian

[2020-08-17 03:02] wweic commented on #216
@jaesong-mongo I have a quick patch [here](https://github.com/wweic/spark-on-k8s-operator/commit/7d11d9a9e58f822b410dd8472c99d0be7ab28e59), pending @liyinan926's comment, I can send a more detailed RFC about it.

[2020-08-17 08:26] batCoder95 commented on #996
Closing this as the issue is solved

[2020-08-17 08:26] #996 closed

[2020-08-17 16:43] thomaskelm opened #998 "ScheduledSparkApplications not being scheduled on the provided cron"
We are seeing some interesting behavior with the scheduledsparkapplications where the jobs will be scheduled one-two times successfully and then after that they will no longer be scheduled based on the cron. They will either not be scheduled at all or they will be scheduled several hours/days later at random intervals. There hasn't been anything useful in the logs, it appears to either be overload

[2020-08-17 19:53] liyinan926 commented on #998
The number of controller threads is configurable and defaults to 10. You can increase it using the command-line flag `-controller-threads`. If you use the Helm chart, you can set it by adding `--set controllerThreads=<value>`.

[2020-08-17 19:54] thomaskelm commented on #998
Yes we have increased it to 20 threads and 3 replicas. Do you have a suggested number of threads to try?

[2020-08-17 20:01] liyinan926 commented on #998
Increasing the replicas doesn't help since only one of the replicas is active, and the rest are standbys. You might want to try a bigger number like 40 or 50 given that you have 400 resources to handle.

[2020-08-17 20:02] thomaskelm commented on #998
okay I will try that and see if helps

[2020-08-17 20:03] liyinan926 commented on #998
Also if you run into the issue again after bumping up the threads, please take a look at the status section of one of the scheduled job that doesn't seem to get handled properly and let me know what the status says.

[2020-08-18 17:52] vikesh-chauhan opened #999 "Environment variables gets deleted from driver pod when re-spawned"
I am able to set environment variable to driver pod using `env:` and getting values from secret using `secretKeyRef`.

However, when the pod is respawned, the environment variables are somehow deleted. The pod does not show those environment variables anymore. I checked the deployment of the SparkApplication yaml file and i still see the environment variable configuration but the values are not sh

[2020-08-19 03:57] uprush opened #1000 "Cannot mount volume when webhook is enabled"
I got the below error when submitting a simple Spark app which mounts volumes. This error only occurred after reinstalling the operator with webhook enabled (--set enableWebhook=true).

[code]

[code]

[2020-08-19 03:58] uprush commented on #1000
I am using the latest operator.
[code]

[2020-08-19 08:06] pkill-git opened #1001 "no matches for kind "SparkApplication" when deploying job."
Seems i'm missing a custom resource definition

Installing :

[code]

Installed via HELM
`helm install operator incubator/sparkoperator --namespace spark-operator --set sparkJobNamespace=spark-apps`

[code]
Get some info :
[code]
Pods
[code]
Just a test file to reflect the error, shouldnt do anything,

[code]

And it errors on a

`error: unable to recognize "python.yaml": no matches for kind "Spar

[2020-08-19 11:22] batCoder95 opened #1002 "IAM Role for Driver and Executor Pods?"
Hi all,

I wanted to check if it is possible to define an AWS IAM role that should be attached to driver and worker pods in Spark application YAML file. As per my understanding, currently these pods inherit the role from EKS worker nodes, but I would like to specify my own custom role in the YAML file. Can somebody please suggest on the possibility ?

Thanks in advance :)

[2020-08-20 03:48] kinderyj opened #1003 "Helm install failed because of openapi-validation"
I tried to install the spark-operator and got many ValidationError, such as unknown field "x-kubernetes-int-or-string" .
It's because the phase `openapi-validation ` .

**How to reproduce**:
helm install spark-operator-test incubator/sparkoperator --namespace spark-operator --set sparkJobNamespace=default

Error: unable to build kubernetes objects from release manifest: error validating "": error

[2020-08-20 08:22] mrkwtz commented on #843
We got the same error.
`sparkConf:`
    `"spark.jars.packages": "org.apache.hadoop:hadoop-aws:3.3.0"`

 The jars for the packages stored in: /opt/spark/.ivy2/jars
 :: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
 org.apache.hadoop#hadoop-aws added as a dependency
 :: resolving dependencies :: org.apache.spark#spark-submit-parent-643

[2020-08-20 23:00] thomaskelm commented on #998
Here is an example status of a pod that didn't actually schedule on the cron:

![image](https://user-images.githubusercontent.com/10335972/90833008-b55b6580-e30c-11ea-8606-2542a33fb502.png)

![image](https://user-images.githubusercontent.com/10335972/90833652-1a638b00-e30e-11ea-93e1-9034434b475e.png)

The status says scheduled, but there isn't a sparkapplication that was created.

![image](https:/

[2020-08-21 04:59] liyinan926 commented on #998
Thanks for adding detailed info. Will look into it.

[2020-08-21 05:00] liyinan926 commented on #998
Were you seeing line `Next run of ScheduledSparkApplication ... is due` in the operator logs?

[2020-08-21 06:54] mrkwtz commented on #1002
I think you are looking for IRSA https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html? In your SparkApplication Pod spec you can then define the used ServiceAccounts for the driver und executor.

[2020-08-24 10:01] batCoder95 commented on #1002
Hi @mrkwtz .

I followed the steps in this document and created a service account with name "svc-spark-account". But still getting the same error on using that service account in SparkApplication.

Below is what my YAML file looks like for reference:

`apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: test-pyspark-app
  namespace: dev
spec:
  type: Python
  python

[2020-08-24 11:52] mrkwtz commented on #1002
You can't use IRSA for the S3 authentication with spark itself. That's because spark uses the hadoop-aws[1] library to implement the S3 functionality and this library uses an old version of the aws-sdk[2] which doesn't support Webtoken / OIDC / IRSA. For now you are limited to access / secret key or InstanceProfile/Role authentication.

[1] https://mvnrepository.com/artifact/org.apache.hadoop/hado

[2020-08-24 16:01] batCoder95 commented on #1002
That's surprising. I saw spark documentation saying that it is supported at this link: https://spark.apache.org/docs/latest/running-on-kubernetes.html#rbac

Looks like the GCR image needs some updates to support this ?

[2020-08-24 16:09] mrkwtz commented on #1002
Thats just that your Spark Application / Job can assume special rights in k8s itself, but is has nothing to do with AWS IAM - unfortunately.

[2020-08-24 21:22] bbenzikry commented on #1002
You can take a look at https://github.com/bbenzikry/spark-irsa for reference Dockerfiles for spark and pyspark.
Examples are for 2.4.6 but a similar approach should be fine for other spark versions.
[code]

If you encounter an error such as

[code]

Make sure that you have securityContext set as follows ( more on that @ https://github.com/kubernetes/kubernetes/issues/82573 )
[code]

Tested on EKS

[2020-08-25 08:01] batCoder95 commented on #1002
@bbenzikry - I tried this approach but am still getting the below error even after specifying the security context parameter:
`org.apache.hadoop.fs.s3a.auth.NoAuthWithAWSException: No AWS Credentials provided by WebIdentityTokenCredentialsProvider : com.amazonaws.SdkClientException: Unable to locate specified web identity token file:`

I specified the security context at all below levels:
- under

[2020-08-25 09:42] batCoder95 commented on #885
@liyinan926 - The pull request (27034) in above reply is in state closed. Does that mean that a new version has been released with custom service account support ? Checking this in relation to the issue: [IAM Role for Driver and Executor Pods? #1002](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/1002)

[2020-08-25 13:19] bbenzikry commented on #1002
Hi @batCoder95 , it should be set like this:
[code]

I saw you replied in #885, if you want to go around this for the meantime, you can do add ( again, probably bad practice ;] )

[code]

[2020-08-25 14:55] snithish opened #1004 "Volume not being mounted : tls: bad certificate from web hook"
**tldr;**
Operator indeterminably fails after some time with `http: TLS handshake error from 10.0.0.131:56084: remote error: tls: bad certificate`. Killing the operator fixes this issue.

**Details**
We have Spark application mounting an NFS volume in the driver, and when launched by the SparkOperator, sometimes the volume does not get mounted. The application gets submitted but the volume mount i

[2020-08-25 15:22] pkill-git commented on #1001
Nobody?

[2020-08-25 15:49] andizzle opened #1005 "Race condition with webhook admission"
We recently observed webhook admission/deregistration race condition when spark operator is in HA mode. We think this also could happen in standalone mode.

Our operator is configured with replica count = 3 and webhook config like so
[code]

Upon upgrade the spark operator, we noticed the webhook registration and deregistration happens in a close time frame and have a high chance of webhook admiss

[2020-08-25 17:08] be-rock commented on #1001
is there literally the text `python.yaml` on the first line of the manifest file?  if so, comment it out or remove it and try again

[2020-08-25 20:36] sepulworld opened #1006 "Tolerations not applied to pods"
K8s version: 1.17
spark-operator: v1beta2-1.2.0-3.0.0

example adding a Toleration and NodeSelector:
[code]

NodeSelector works, but the pod is not provisioned with tolerations requested in spec.

Only the default tolerations show up.

[2020-08-25 20:42] sepulworld commented on #1006
Ah, sorry. I was confused by docs.

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/de0bdf1275e77b6d053d408c045c427aa94a42ab/docs/user-guide.md#using-tolerations seems to be up to date.

while there is some documentation under API that reads:

[code]

[2020-08-25 20:42] #1006 closed

[2020-08-26 06:36] batCoder95 commented on #1002
Hi @bbenzikry - Yes I think this approach would be feasible, but I agree that this is not a good practice.

On another note, I observed that this limitation is only from GCP operator. As Spark official [doc](https://spark.apache.org/docs/latest/running-on-kubernetes.html#rbac), we are able to pass custom service account. I haven't tried it yet, but it does seem to be available for use. Or am I mis

[2020-08-26 11:25] pkill-git commented on #1001
No there is not, that was a wrongly pasted yaml file by me, its called 'python.yaml'

[2020-08-26 17:16] jinxingwang opened #1007 "ingress-url-format support $appName under path"
Add support for ingress-url-format to allow
ingress.cluster.com/{{$appName}}

We have a use case that we want to use Nginx ingress to host spark ui under DNS name.
And put each spark ui under a path
for example: spark.ui.dns.name.com/{{$appNamespace}}/{{$appName}}

We have it working locally with Nginx ingress, and willing to make a contribution.

[2020-08-26 17:17] jinxingwang commented on #1007
@liyinan926 Hi, Li.

[2020-08-27 00:45] bbenzikry commented on #1002
@batCoder95 Sorry for not replying sooner.
From what I read, the docs don't reference the executor pod default service account constraint that is handled in the spark PR that should be added in 3.1.
So right now, executors( whether submitted via the operator or not ) will still have that problem.

From browsing the PR code, it seems that without any configuration the executor pods will default to

[2020-08-28 07:33] batCoder95 commented on #1002
@bbenzikry - No issues :)
Yeah I guess currently I will have to go with building spark image from scratch only or wait for 3.1 release. Will check it out.

Thank you so much for all your help on this. It has been really really helpful :)

Will close this issue. Stay safe :)

[2020-08-28 07:33] #1002 closed

[2020-08-28 18:00] sepulworld opened #1009 "Provide release binary for sparkctl"
Has anyone explored adding a `sparkctl` binary and/or Docker image to release process? Would be handy to share these with community to use. Just for sparkctl

[2020-08-28 19:36] justinwesleyvizio commented on #352
Here is high-level how I got this working.  If you would like more details, let me know and I will add them.

1. Create a new Maven project:  https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html
2. Get the dependency section for your package from Maven website, for my Kafka structured streaming I used:  https://mvnrepository.com/artifact/org.apache.spark/spark-sql-kafka-0-10_

[2020-08-31 04:50] kocham opened #1010 "Spark executors won't start : spark-operator:v1beta2-1.2.0-3.0.0"
@liyinan926

when I run demo spark-pi  on spark-operator:v1beta2-1.2.0-3.0.0，Spark executors won't start， The driver logs showed no logs from the SparkContext and the KubernetesSchedulerBackend.  Anyone know what might be causing this issue?
I have read [issue 133](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/133)， almost the same situation,  but i just run a demo spark-pi 。

[2020-08-31 07:43] joanjiao2016 commented on #302
Is there any example for a sparkoperator application accessing kerberized hdfs file? Thanks a lot!

[2020-08-31 12:47] sulthonzh opened #1011 "set -Dpackaging.type=jar spark.driver.extraJavaOptions | spec.driver.javaOptions"
Hello @reviewers i need set `-Dpackaging.type=jar ` on driver

I have used the methods below, but it still doesn't work

[code]

[code]

What should I do?

[2020-08-31 20:06] jinxingwang opened #1012 "Allow using k8s native scheduling PriorityClass"
currently, PriorityClassName is only going to show up in the driver pod spec if using the Volcano scheduler.
I want to add support for the user to be able to pass PriorityClassName to k8s event user not using the Volcano scheduler, so can use the native k8s scheduling.

[2020-09-03 13:50] be-rock opened #1013 "Configmaps and EnvVars not working as expected"
I have tried numerous combinations of mounting configmaps, defining environment variables as described in the docs but the respective resource is not recognized by the running spark application.

The webhook is up and running:
[code]

And webhook definition:
[code]

Each of these combinations have been tested including mounting configmaps:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operat

[2020-09-03 14:17] be-rock commented on #1001
so what is the error message?  the error message you show above:

`error: unable to recognize "python.yaml": no matches for kind "SparkApplication" in version "sparkoperator.k8s.io/v1beta2"`

still seems to suggest that the first line of the manifest contains the unrecognized text 'python.yaml'

[2020-09-04 16:21] doctapp opened #1014 "Security context not applied to driver/executor pods"
Trying to specify `allowPrivilegeEscalation: false` on driver/executor pods and `securityContext` isn't even getting set. Using spark-operator `v1beta2-1.2.0-3.0.0`.

`kubectl apply -f pi.json`

pi.json:
`
{
    "apiVersion": "sparkoperator.k8s.io/v1beta2",
    "kind": "SparkApplication",
    "metadata": {
        "name": "pi",
        "namespace": "spark-operator"
    },
    "spec": {
        "dr

[2020-09-07 08:34] ocworld opened #1015 "How to terminate pods automatically when completing a spark job"
How to terminate pods automatically when completing a spark job?

Pods, that are executors and a driver, are always running, even if job is already completed, When spark job is submitted by spark operator on k8s.

I want to release k8s resources on the end of a spark job.

[2020-09-07 12:38] armyhaylenko opened #1016 "Wrong spark-bigquery jar for v3.0.0-gcs-prometheus"
With spark 3.0.0 upgrade and consequent spark-operator upgrade, all of the processes that involved spark usage died with this error:
[code]
I took a look at Dockerfile for the image and there is one ADD [command](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/c19d2b8660d80ce561be28d76046ed60393a83d9/spark-docker/Dockerfile#L30) that I suspect breaks everything. If we refer to so

[2020-09-07 14:41] smruti1107 opened #1017 "Executor pod terminating frequently and getting connection refused error with localhost/127.0.0.1"
Hi,

I am encountering an issue while driver pod trying to create executor pod through spark submit in kubernetes, executor pod is creating and terminating continuously with ms time.At the same time, driver pod is keeps up and running state.
I checked the driver pod logs, it was hitting and execute some steps within the application.after some steps.there is no exception in the driver logs but in t

[2020-09-08 09:25] camper42 commented on #931
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/controller/sparkapplication/submission.go#L62-L66

what I want here:

[code]

As I mentioned, `SPARK_USER` has higher priority than UID, and will be used in IO with HDFS.

start spark-3.0, spark-submit will set driver pod SPARK_USER ENV.
If`SPARK_USER` in Operator and Spark Application point to different user, application

[2020-09-10 18:56] liyinan926 commented on #1015
Can you elaborate a bit more on this? Completed executor pods should be automatically deleted by the driver. We don't automatically delete the driver pod upon completion of a job. The driver pod will still exist even if the job has completed, unless you delete the `SparkApplication` resource or set a TTL for the job (see https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs

[2020-09-10 19:05] liyinan926 commented on #1016
Interesting, will look into this.

[2020-09-11 09:21] armyhaylenko commented on #1016
we rebuilt the image with 2.12 jar and it indeed worked, so for us the problem was definitely in the jar

[2020-09-14 09:53] kocham commented on #1010
**spark app description：**
[root@bigdata-k8s-master-90-50 spark]# kubectl -n spark-job describe sparkapp spark-pi
Name:         spark-pi
Namespace:    spark-job
Labels:       <none>
Annotations:  API Version:  sparkoperator.k8s.io/v1beta2
Kind:         SparkApplication
Metadata:
  Creation Timestamp:  2020-09-14T09:49:23Z
  Generation:          1
  Managed Fields:
    API Version:  sparkoperator.k

[2020-09-14 10:09] kocham commented on #1010
this confused me for more than two weeks，could anybody help me？

[2020-09-14 23:06] axk7812 commented on #908
Any resolution to this?

[2020-09-15 05:00] akuzni2 opened #1018 ""[FATAL tini (16)] exec driver-py failed: No such file or directory" with spark-py:v3.0.0 container image"
(Re-)opening this issue as it was previously created but closed [here](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/908) I'm more than happy to close this one in favor of reopening the other one if someone suggests so.

Kubernetes version: 1.15.11
Helm version: 3.0.2

**Note**: These same steps were tested with `spark-py-pi.yaml` the 2.4.5 version (spark-py:v2.4.5) and there

[2020-09-15 19:23] shensonj opened #1019 "spark executors keeps getting killed with exit code 1 and doesn't get restarted"
@liyinan926

We are using v1beta2-1.1.2-2.4.5 version of operator with spark-2.4.4

spark executors keeps getting killed with exit code 1 and we are seeing following exception in the executor which goes to error state. Once this error happens, driver doesn't restart executor. Any configuration available in operator to manage executor failures? Any idea if this issue will be fixed once we upgrade t

[2020-09-15 22:06] tfasanga commented on #1019
Additional information:

The status of spark application shows it is RUNNING:
[code]

The executor pod is reporting that it is Terminated:
[code]

[2020-09-16 13:48] shensonj commented on #1019
@liyinan926  Is this issue related to https://issues.apache.org/jira/browse/SPARK-24135

[2020-09-16 16:19] liyinan926 commented on #1018
Which version of the operator are you running? Particularly, which image are you using?

[2020-09-16 16:24] psschwei opened #1021 "Helm Stable and Incubator chart repo deprecation on November 13"
Per [this](https://lists.cncf.io/g/cncf-helm/topic/stable_and_incubator_chart/76616691?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,76616691) post, the Helm stable and incubator chart repos will be deprecated on November 13. As the Spark Operator chart is in the incubator repo, are there plans to migrate it to another location?

For reference, full text of linked message:
"""
This has been shar

[2020-09-16 16:27] liyinan926 commented on #1021
I was not aware of this deprecation. Will certainly come up with a plan asap.

[2020-09-16 16:28] akuzni2 commented on #1018
Installed from https://github.com/helm/charts/tree/master/incubator/sparkoperator helm chart.

Currently deployed spark operator version: v1beta2-1.2.0-3.0.0

What is weird is now I notice the spark-operator image looks to be using spark 2.4.5

Image: gcr.io/spark-operator/spark-operator:v1beta2-1.1.2-2.4.5

[2020-09-16 18:14] jinxingwang commented on #1015
agree with lin, can you elaborate a bit more on the issue. I think you are simplifying missing a
`spark context.stop`
at end of your code.

[2020-09-16 18:27] jinxingwang commented on #1014
Do you have the `mutating admission webhook` deployed in your cluster?
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/de0bdf1275e77b6d053d408c045c427aa94a42ab/docs/user-guide.md#using-pod-security-context
If not, `securityContext `will not be changed. If so, look for the webhook log, and see how it is processing the `securityContext`.

[2020-09-16 18:42] doctapp commented on #1014
Yes, we use the webhook to mount volumes and other things.

[2020-09-16 18:46] jinxingwang commented on #1013
This does what for me. Can you post your sprakapplication spec, and the resulting pod & executor spec?
Here is a different way to set env var on spark containers.

[code]

[2020-09-16 18:49] doctapp commented on #1014
@jinxingwang I've checked the logs and there's no reference to `securityContext`. Can you try it out? What should I be expecting? Thanks

[2020-09-16 18:49] jinxingwang commented on #1014
Can you post webhook logs about your sparkapplication?

[2020-09-16 18:50] doctapp commented on #1014
Sorry, can't since its intermingled with private stuff.

[2020-09-16 18:53] jinxingwang commented on #1014
The log from webhook is the key to debug this. Please find a way to check the log of your webhook. What it is doing is, it will create a patch to modify the pod/executor spec, you should check if there such a patch exists, and what it is patching? Source code here:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/9d4592a0fc69a70fced060be17ce589620c26c67/pkg/webhook/patch.go#L529-L

[2020-09-16 18:56] #1012 closed

[2020-09-16 18:58] #1007 closed

[2020-09-16 18:59] doctapp commented on #1014
Doesn't seem to be called since I can't see a patch from the logs and there's no ref to the `securityContext`. Here are some logs until it gets running:
[code]

[2020-09-16 19:11] jinxingwang commented on #1014
This looks like park-operator log. you need logs from the webhook pod.

[2020-09-16 20:42] doctapp commented on #1014
Weird since I don't see a running webhook pod, only a completed init pod, a service, and a job.batch:

[code]

We're installing using `--set enableWebhook=true` and `--set webhookPort=443`.

How can volumes get mounted then? How can I debug the startup of the webhook?

Thanks

[2020-09-16 20:57] jinxingwang commented on #1014
This is where you don't have a webhook deploy. you can try research on how to use webhook.

[2020-09-16 21:13] doctapp commented on #1014
Sorry not following. We deploy with the web hook enabled and we use features that are only enabled through the web hook and they work (like mounting secrets/configmaps on driver and executor pods).

So, how come the webhook pod isn't running while these features work?

How can I debug this process (helm didn't complain about anything, no error messages in webhook init...)?

[2020-09-16 21:19] jinxingwang commented on #1014
is spark-operator-sparkoperator-webhook-init the long running webhook pod?
why you have a webhook that is complete? spark-operator-sparkoperator-webhook-init-dj4wn
You should be able to log on webhook pod, and see logs about your job. can you try that?

[2020-09-17 02:26] ocworld commented on #1015
Thank you! Adding spark context close in my code is the solution in my problem.
In yarn, standalone, and aws emr, it is not problem without sparkcontext.stop. However, I think it is more restricted checked in k8s spark.

[2020-09-17 02:27] #1015 closed

[2020-09-17 08:09] jacobhjkim commented on #626
Has this been solved? If not, I might work on it.

[2020-09-17 13:11] doctapp commented on #1014
Could you please point me to the yaml file that is starting the webhook pod you mentioned?

I'm looking at https://github.com/helm/charts/blob/master/incubator/sparkoperator/templates/spark-operator-deployment.yaml which looks like the sparkoperator container which is running the webhook and I provided its logs above. webhook-init is just a job generating the cert.

I just did a sample deployment

[2020-09-17 13:26] doctapp commented on #1014
Here are the full logs on a brand new cluster:

[code]

[2020-09-17 15:11] michaeljmarshall commented on #626
@jacobhjkim - I can confirm that I won’t be contributing a solution.

[2020-09-17 16:19] akuzni2 commented on #1018
So the incubator/sparkoperator chart shows to use operatorVersion: v1beta2-1.2.0-3.0.0 but when you pull the chart it's actually using v1beta2-1.1.2-2.4.5. Is this a bug with the chart?

[2020-09-17 16:27] axk7812 commented on #962
@WaterKnight1998 able to get this to work with Zepplin notebooks?

[2020-09-17 17:20] jinxingwang commented on #1014
@doctapp I think there may be some issue with the mutation webhook code. Let me debug this.

[2020-09-17 17:56] jinxingwang commented on #1014
@doctapp I see the problem. you are setting `allowPrivilegeEscalation: false`.
And you can see, the operator is trying to set it to `/spec/securityContext`
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/webhook/patch.go#L540

And setting `allowPrivilegeEscalation: false` in the spec level securityContext is not supported.
K8s doc reference: https://kubernetes.io/docs/

[2020-09-17 18:03] jinxingwang commented on #1014
I will make a change to add a debug line here for the webhook patch result:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/7cd886c7ec449b929525c3e4d7a4b3824bf5d4b8/pkg/webhook/webhook.go#L557

[2020-09-17 18:07] liyinan926 commented on #1014
@jinxingwang appreciate if you can make a fix. Thanks!

[2020-09-17 19:50] doctapp commented on #1014
Would be great if the 2 levels of `securityContext` are supported for drivers and executors.

[2020-09-17 21:43] jinxingwang commented on #1014
Please review: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1023

[2020-09-18 13:54] amitme10 opened #1024 "Spark Streaming offsets keep proceeding without committing"
Hey ,
I'm not sure if this is the right place (due to the it might not be an Operator related issue at all), but I'll ask :
I'm using Spark streaming (2.4) with the operator and I notice that even without committing to Kafka my already done offsets the offset keep proceeding . however when I close the app , it will start over from the same offset ranges as was before (because there was not any com

[2020-09-18 14:00] amitme10 commented on #1024
Hey ,
I'm not sure if this is the right place (due to the it might not be an Operator related issue at all), but I'll ask :
I'm using Spark streaming (2.4) with the operator and I notice that even without committing to Kafka my already done offsets the offset keep proceeding . however when I close the app , it will start over from the same offset ranges as was before (because there was not any com

[2020-09-18 14:54] tfasanga commented on #1019
This is not related to issue https://issues.apache.org/jira/browse/SPARK-24135.
This problem is a transient problem, it does not happen always, suggesting that it is sensitive to timing. It seems to occur when the k8s system is busy with launching other PODs (multiple helm charts are being installed), so there may be a slight delay between starting the driver and starting the driver's service (act

[2020-09-18 15:05] tfasanga commented on #1019
I compared the spark operator logs of the success and failed scenarios. There is difference of first mentioning the executor POD in the log (line `"Pod act-pipeline-app-________-exec-1 in namespace default is subject to mutation")`
This is just showing that the timing in these cases is different.
In both situations the driver and executor are started, but in failed case the executor terminates due

[2020-09-20 18:17] lucaskjaero commented on #915
I also have this issue. Thanks for raising it @holdenk .

[2020-09-21 04:58] jinxingwang commented on #1024
Your question seems to be a spark Kafka usage, spark operator doesn't modify how Spark works at all.
Where you are starting your office should be the init configuration of your Kafka producer, things you may want to check, where you are checking the offset spark side or kafka side? you can try to debug your Kafka producer by starting an empty producer, see if the offset still moving.

[2020-09-21 05:18] jinxingwang opened #1025 "Sparkapplication template"
I am interested to contribute something similar to the spark pod template for Sparkapplication.
It can be super useful as a service management standpoint.
For example:
1: If I want to require all my users to install a Prometheus sidecar so I can collect metrics and monitor them without actively checking every submitted Sparkapplication spec nor team user how to set a Sparkapplication for Prometheu

[2020-09-21 12:14] msdkhairi commented on #1018
I am also facing this issue. The spark-pi example worked fine. But the spark-py-pi gives this error:
`[FATAL tini (15)] exec driver-py failed: No such file or directory`
The docker image is: `gcr.io/spark-operator/spark-py:v3.0.0`

[2020-09-22 13:03] shensonj opened #1026 "Spark application CRD upgrades"
I would like to know how are we planning to handle sparkApplication and scheduledSparkApplication CRD upgrades when spark applications are running.
Let us say we have installed sparkApplication CRD version v1beta1 in our cluster and few streaming spark jobs are running (using this sparkApplication)
Now if we want to upgrade sparkApplication CRD to v1beta2. Our understanding is that we have to dele

[2020-09-22 13:05] shensonj commented on #1026
@liyinan926

[2020-09-22 18:04] jinxingwang commented on #1026
What if you keep both versions of CRD, and upgrade your Spark operator pod to only submit a new version of CRDs.
Hopefully, the behavior will be the old version of sparkapplication that will still be able to run, and only the new version of CRDs will get created.
Spark operator may failed to manage(watch/update) the old sparkapplication.

[2020-09-22 18:51] pitouteng commented on #753
How to proceed with method 1 Bake the custom log4j.properties into a custom Spark image?

[2020-09-22 18:59] pitouteng commented on #395
What is the format for file path?
Is it local:///path/to/log4j.properties or file:///path/to/log4j.properties?

[2020-09-23 02:55] arijitdey commented on #744
@liyinan926 Any update on the support for Thrift JDBC/ODBC server on Kubernetes?

[2020-09-23 13:56] aneagoe commented on #855
Saw the same issue on a fresh deployment (chart: sparkoperator-0.8.2, app: v1beta2-1.2.0-3.0.0). I had to manually delete the MutatingWebhookConfiguration and HelmRelease then let flux re-deploy.

[2020-09-23 16:52] gmweaver commented on #1018
Similar issue as well, the change in `entrypoint.sh` that appears to lead to the issue above is here: https://github.com/apache/spark/pull/23655.

This commit and the commit after explain that `spark-submit` should be able to handle all the `pyspark` dependencies, but it is unclear how arguments can then passed in K8s command.

If I replace the `entrypoint.sh` with the version prior to this commit

[2020-09-23 23:27] plathrop commented on #843
Same problem here. I'm really struggling with this. re:

I tried going down this route, but I'm utterly stumped as to how to add the necessary jars. I can build spark from source, but how do I add in the dependency of `hadoop-aws` while ensuring transitive dependencies also get installed?

[2020-09-24 12:44] HagaiBarel commented on #1021
Any updates on this? November is fast approaching

[2020-09-24 16:35] dfarr commented on #216
Would love to know the status of this issue.

We build spark docker images from scratch for internal use at my company, and include a `/etc/spark/conf/spark-defaults.conf` file in docker image to define company-wide defaults. Unfortunately the mounted ConfigMap wipes out the directory including the `spark-defaults.conf` file. Has this issue been resolved by upgrading to spark 3.0.0 in the latest r

[2020-09-24 18:54] jinxingwang commented on #1025
@liyinan926 What do you think?

[2020-09-24 19:37] cohadar opened #1029 "spark:v3.0.0 image uses too old hadoop jars"
Specifically it uses hadoop jars 2.7.4 from year 2017.
This is useless because when I try to process files on s3 I can't because hadoop 2.7.4 requires aws-java-sdk 1.7 from year 2014.
This version of aws-java-sdk is not even hosted by maven central any more!

Please update hadoop jars in spark to 3.2.0 or newer.

[2020-09-24 20:05] liyinan926 commented on #1025
That sounds like a good proposal to me. Can you put together a doc on the details? Thanks!

[2020-09-24 21:13] jinxingwang commented on #1025
new spark operator flag: `--Sparkapplication-default-template`, `--Sparkapplication-overwrite-template` (naming still pending)
Each flag will accept a configmap as input value.
e.g. `--Sparkapplication-default-template=/namespace/configmapName`
The content of the configMap should be a sparkapplication spec.
We can decide fields that is allowed here:
e.g.
[code]

Then the sparkOperator will take th

[2020-09-25 22:45] shensonj commented on #1026
@jinxingwang after CRD upgrade, we should only have new spark applications. So we try to delete old sparkapplication instance and try to create new one. But we have noticed that after spark operator doesn't create drivers for newly created CRD. Any solution/suggestion for this?

[2020-09-26 03:31] sshah90 commented on #1029
Hi @cohadar

Can you please check [this](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/962#issuecomment-651550920) comment if it helps you?

Thanks.

[2020-09-28 09:33] nileshbhadana opened #1031 "Removal Of Spark History service [ui-svc]"
When spark job is created it creates a k8s service for Spark UI.
Is there any configuration by which we can stop this service from getting created ?

Steps to reproduce:
    - Run a spark job
    - Wait for it to complete and see ```kubectl get svc -n <namespace>```

Thanks in Advance

[2020-09-28 22:29] jkleckner commented on #1031
@nileshbhadana The driver pod sticks around even after completed.  The service and driver pod will both go away when you delete the spark application.

[2020-09-28 22:32] liyinan926 commented on #1029
Thanks @sshah90. @cohadar the image `gcr.io/spark-operator/spark:v3.0.0-hadoop3` has Hadoop 3 support built in.

[2020-09-28 22:32] #1029 closed

[2020-09-28 22:35] liyinan926 commented on #1025
@jinxingwang thanks for the proposal. Can you elaborate a bit more on the flag `sparkapplication-overwrite-template`? What is the relationship between it and `sparkapplication-default-template`?

Also have you considered an alternative approach originally discussed in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/661?

[2020-09-28 23:05] jinxingwang commented on #1025
@liyinan926 Thanks for the feedback.
The relationship between these 2 flags is:
1. both are optional.
2. `sparkapplication-default-template` is less restricted. It is for the cluster operators to recommend sparkApplication setup for the user if not set. for example: if I want to collect user metrics, I can put a default Prometheus sidecar config in the `sparkapplication-default-template` then if t

[2020-09-28 23:19] jinxingwang commented on #1025
The argument is if the user cares enough to get the `sparkApplicationClass: pyspark2`  `pyspark2` itself understood enough, they can just set it on their spec.

[2020-09-29 08:29] nileshbhadana commented on #1031
@jkleckner I don't want the service to be created.

[2020-09-29 17:22] batCoder95 commented on #216
Hi all,

I would like to know the status of this. My use case is also same as #786 where I want to have my Spark application talk to AWS glue metastore. Can someone please guide me whether we can set the spark-hive-site using "SparkConf" or any other way?

[2020-09-29 17:25] batCoder95 commented on #1002
Hi @bbenzikry ,

It turns out I was finally able make this work using the Spark IRSA Dockerfile that you have provided :)

Just wanted to say thanks a lot for such a bug help :)

Cheers!

[2020-09-30 17:55] bbenzikry commented on #1002
@batCoder95 Thanks, happy to help - I'm a little busy at work, but I'm going to release a small project soon that shows how we work with both IRSA and the AWS Glue catalog using the operator on Spark 3

[2020-10-01 17:16] dukkune1 commented on #843
Did anyone get a handle on this problem? I am also having the same issue

[2020-10-02 13:56] samirmajen commented on #789
Yep, I have the exact same problem. I'm using the latest spark-operator (v1beta2-1.2.0 with Spark 3.0.0) and trying to run the py example - executor is defined but does not get created in the pod - can anyone help with this?

[2020-10-02 19:08] bbenzikry commented on #216
@dfarr @batCoder95 We have a simple implementation [here](https://github.com/bbenzikry/spark-on-k8s-operator/tree/hive-subpath) that we use internally, based on the changes @wweic suggested, iterating over the configmap keys. We didn't add a PR as we weren't sure it met proper code style / architecture, but it seems to work well for our use case. I'll be happy to PR this if it can help.
You can tr

[2020-10-02 19:12] bbenzikry commented on #216
@batCoder95 Specifically for glue we use something like this:
[code]

[code]

[2020-10-03 14:11] batCoder95 commented on #216
Hi @bbenzikry,

This is really really helpful of you. I'll try out the sample implementation that you have mentioned immediately and let you know if I face any issues :)

Thanks a ton for this guidance :)

[2020-10-03 19:09] dukkune1 commented on #843
@plathrop , can try this link : https://github.com/aws-samples/eks-spark-benchmark/tree/master/docker
It shows how to add the dependency of hadoop-aws  to an already built image that has spark.

[2020-10-03 20:37] dukkune1 commented on #996
@batCoder95 how did you get this issue solved? I am facing the same problem. Can you post the final YAML settings you used?

[2020-10-04 15:10] amitme10 commented on #753
Hey ,
I'm using a Graylog appender in my log4j.properties (which works just fine the way you mentioned above)
however it tells me at logs : java.lang.ClassNotFoundException about the appender class (which finds at pom.xml and works fine localy) could you advice please?

[2020-10-05 06:43] batCoder95 commented on #843
Hi all,

Apologies for not being able to reply earlier. You can try out this [Dockerfile](https://github.com/bbenzikry/spark-irsa/blob/master/spark2.Dockerfile) shared by @bbenzikry which has s3 packages installed in it. By using this Dockerfile, you won't need to add S3 packages using YAML file, which will avoid the `Ivy Default Cache set to: /opt/spark/.ivy2/cache` errors. Attaching sample Docke

[2020-10-05 15:39] plathrop commented on #843
Thanks for the reply. I did end up building my own images, with slightly different takes on the above solutions.

[2020-10-07 06:52] suchitgupta01 opened #1036 "Not able to set spark configuration via .spec.sparkConf"
Hi Team,

I am exploring the Spark-Operator and was trying to set spark properties by .spec.sparkConf. However after trying hard, the changes are not getting reflected.

My yaml file:

[code]

My Scala code for getting session
`
SparkSession
      .builder
      .appName("test_batch")
      .getOrCreate()
`

Dockerfile for building image

[code]

Issue: The job is running, however spark properties

[2020-10-07 17:45] jinxingwang commented on #1026
When you say after CRD upgrade. Can you check a few things?
What is the CRD version spark operator is trying to submit?
What is the CRD version that exists in the k8s object?
What does the `describe sparkapplication` say?

[2020-10-07 21:00] suchitgupta01 commented on #1036
Found the issue. I am using **ScheduledSparkApplication** and for that sparkConfig, should be inside `.spec.template.sparkConf`

[2020-10-07 21:00] #1036 closed

[2020-10-08 06:34] suchitgupta01 opened #1038 "Overriding log4j doesn't work for executors if javaOptions are provided"
Hi Team,

I was trying to override log4j for drivers and executors by creating a config map. The logging for drivers works fine but for executors it was taking a default configuration.

I created a config map and added `sparkConf:
      spark.driver.extraJavaOptions: -Dlog4j.configuration=file:/etc/spark/conf/log4j.properties
      spark.executor.extraJavaOptions: -Dlog4j.configuration=file:/etc/s

[2020-10-08 18:14] FloraZhang commented on #931
I'm also having similar problem with mounted configmap directory ownership. SPARK_USER should be consistent with what's specified in the .securityContext in sparkapplication.

[2020-10-08 18:17] zhaohc10 commented on #996
I face the same issue, very appreciate if you can share your yaml settings

[2020-10-09 01:03] Gouthamkreddy1234 commented on #964
Fixed in GoogleCloudPlatform/spark-on-k8s-operator#966

[2020-10-09 01:04] #964 closed

[2020-10-09 17:02] arichardet opened #1039 "sparkConf creates incorrect path from `spark.jars.packages` and `spark.jars.repositories`"
Using `spark-operator:v1beta2-1.2.0-3.0.0`, and creating a `SparkApplication` as follows:

[code]

The url that is created is incorrect:
`<redacted>/com/amazonaws/aws-java-sdk/aws-java-sdk-1.7.6/aws-java-sdk-aws-java-sdk-1.7.6.jar`
Note the repeated `aws-java-sdk-aws-java-sdk`

[2020-10-09 17:24] dexterhu commented on #945
@ocassetti I thought only executors will download those remote files on the fly, the driver doesn't need, as it merely passes the configurations to the executor. That's what I observed for **--files**

[2020-10-12 08:09] amitme10 commented on #1019
Hey , got this issue as well at my Streaming job , what's the solution here?

[2020-10-12 08:09] #1024 closed

[2020-10-12 10:10] Fixmetal commented on #380
I've landed here with randomness googling because it was exactly what I needed, but I think this is missing in the documentation.
An integration in the docs would be greatly appreciated, if not on the older versions at least on the current stable.

[2020-10-15 14:24] Coqueiro opened #1041 "How to configure SparkApplication on EKS to authenticate with S3 using IAM Roles"
Hi! We’re running the Spark Operator on EKS, and we usually distribute permissions to pods through IAM role annotations (iam.amazonaws.com/role). I have set a role to access S3 buckets, and I’m running a SparkApplication, but I don’t know how to configure the spark confs to correctly access S3. I’m using a custom Spark image (Spark 3.0.0 and Hadoop 3.2.0) with `hadoop-aws` and `aws-sdk-bundle`  an

[2020-10-16 23:46] ssiegel95 opened #1042 "volumeMounts spec seems to be incorrect"
[The user guide](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md)

shows, for example:

[code]

Shouldn't it be:

[code]

instead?

[2020-10-17 01:28] renjigeorge opened #1043 "CRD upgrade error with crds/sparkoperator.k8s.io_scheduledsparkapplications.yaml"
Hi
I am getting this error message in the pods of sparkoperator.

E1017 01:22:50.178928      10 reflector.go:123] pkg/mod/k8s.io/client-go@v0.16.6/tools/cache/reflector.go:96: Failed to list *v1beta2.ScheduledSparkApplication: the server could not find the requested resource (get scheduledsparkapplications.sparkoperator.k8s.io)

Also when I try to install the latest release crds I get this issue t

[2020-10-17 10:38] vishnugs opened #1044 "Dynamic Auto Scaling Executors - Kubernetes"
Hi Team,

Please let me know when the dynamic scaling out /scale in feature with executors would be available in spark with kubernetes ?

It was suppose to be in 3.0.0

[2020-10-17 11:28] vishnugs commented on #758
@liyinan926 is the feature live now with dynamic scaling out, scaling in of executors ?

[2020-10-18 03:28] ssiegel95 commented on #554
@ramyarajasekaran I'm getting same exact error, did you ever find a resolution?

[2020-10-19 03:59] liyinan926 commented on #1044
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#dynamic-allocation

[2020-10-19 05:14] shardulsrivastava commented on #1041
@Coqueiro  you can configure your spark driver and executor pods to use a service account like this :

[code]

And then you can setup this service account with the IAM role using [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html)

Let's say your  IAM policy name for S3 is - `my-s3-policy`,  you can create iam service account for your eks cluster using `eks

[2020-10-19 05:19] shardulsrivastava commented on #1042
@ssiegel95 it's the same, as long as you specify the mandatory attributes.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#volumemount-v1-core

[2020-10-19 14:01] Coqueiro commented on #1041
Thanks for sharing, @shardulsrivastava !

[2020-10-19 14:01] #1041 closed

[2020-10-19 15:07] ssiegel95 commented on #1042
@shardulsrivastava thanks for reply and the link. Good to know.

[2020-10-19 15:07] #1042 closed

[2020-10-19 18:27] jinxingwang commented on #1025
@liyinan926 Hi.

[2020-10-19 20:54] sharkymcdongles commented on #1021
Any word @liyinan926 ?

[2020-10-20 18:09] batCoder95 commented on #639
@kodelint - Were you able to get the s3a working for the dependency files?

[2020-10-21 04:36] #1044 closed

[2020-10-21 15:33] suchitgupta01 commented on #559
Any update on this? Probably something similar to https://github.com/helm/charts/tree/master/stable/spark-history-server

[2020-10-21 15:34] liyinan926 commented on #1021
On this now.

[2020-10-21 21:17] brodamon opened #1048 "no status block when describing sparkapplication"
Running the quick start guide (https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md):

Everything is normal but when I do the describe, the printout does not have the "status" block.

It has the spec, Name, Namespace, Lables, Annotations, Kind & Metadata blocks

Wondering if anyone knows why, not sure what is wrong and how to fix

[2020-10-22 19:20] #1048 closed

[2020-10-23 19:42] FloraZhang opened #1049 "preStop hook got interrupted and graceful termination failed"
Hi masters,

I'm trying out preStop hook supported by latest spark-operator, and I noticed the preStop hook failed if I run some time-consuming task or simply sleep for a while before pod terminated. The chart spec is the same as in user-guide:
[code]

Detailed error message are as below:

[code]

Starting from stopping driver container, it took about 30s before showing FailedPreStopHook, setting

[2020-10-25 15:18] shardulsrivastava commented on #1043
@renjigeorge how did you install the operator and which version did you install also your Kubernetes version ??

[2020-10-26 10:14] amitme10 commented on #897
Hey @liyinan926
Im using v1beta2-1.1.2-2.4.5 version  with those values for my streaming job :

[code]

Also I have this cronjob which delete the driver every hour - just to test how it deals with failure recovery and such.
and it works fine at the first , it takes it a few seconds to raise up again .
however after a few hours (12 h) I noticed that the raising up process isn't anymore a few second

[2020-10-26 14:19] dmoore62 commented on #889
One work around that we tested is configuring the application to run outside the istio service mesh.

[2020-10-26 14:39] AceHack commented on #889
Running outside the service mesh is not really a valid work around we want all the observability a service mesh brings with our spark jobs.

[2020-10-27 07:44] amitme10 opened #1051 "increasing retry times"
Hey @liyinan926
Im using v1beta2-1.1.2-2.4.5 version  with those values for my streaming job :

[code]

Also I have this cronjob which delete the driver every hour - just to test how it deals with failure recovery and such.
and it works fine at the first , it takes it a few seconds to raise up again .
however after a few hours (12 h) I noticed that the raising up process isn't anymore a few second

[2020-10-28 12:42] vislante commented on #1010
I am facing with same issue, but the pyspark version. Could someone help here.

@kocham  are you able to fix this?

[2020-10-28 13:18] dmoore62 commented on #889
```Working with the upstream community, we have added a configuration workaround for Zookeeper along with Casssandra, Elasticsearch, Redis and Apache NiFi.  I am sure there are additional applications that are not compatible with sidecars.  Please inform the community if you know of any.```

https://www.cncf.io/blog/2020/10/26/service-mesh-is-still-hard/

We have yet to really dig into enhancement

[2020-10-28 15:52] FloraZhang commented on #1004
Hi repo master,

I'm also seeing this issue, with sparkoperator log as below:

[code]

When driver pod is created, in the pod log I'm seeing below error. I think it's due to the operator failed to mount certain configmap to driver pod.
[code]

[2020-10-28 20:21] bkosuru opened #1052 "Spark Metrics Monitoring by Prometheus"
Hi All,

I am running the [spark-pi](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi-prometheus.yaml) example in a different namespace called 'spark'. I am using spark-operator v1beta2-1.2.0-3.0.0.

Prometheus was setup by IT for cluster monitoring. I am not able to see Spark Metrics in Prometheus. When I looked at the Prometheus Config, I noticed
kuberne

[2020-10-29 01:26] kocham commented on #1010
I tried many ways, it still not worked, maybe we have to wait some time to use sparkoperator in product env.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "GoogleCloudPlatform/spark-on-k8s-operator"

[2020-10-29 03:50] joanjiao2016 opened #1053 "The port of jmxexporter 8090 is not on when running the example spark-pi-prometheus.yaml"
Hi All,
I am running the example with  spark-pi-prometheus.yaml ，the application runs well，but  the port  8090 is not on ，can anyone help ?

[code]

[2020-10-30 10:51] shamukh82 commented on #1018
We are facing the same issue as well. Is there a fix for this?

[2020-11-02 12:38] KptMarchewa commented on #744
I would also be interested in this.

[2020-11-02 15:50] zhaohc10 commented on #1002
Hi just wonder which spark version you were tested, spark2.4.6 or spark3.1?  if spark3.1, you build yourself or download from official ?

[2020-11-02 17:04] bbenzikry commented on #1002
Hi @zhaohc10, you can see an example for use with spark 3 ( 3.0.1 ) here: https://github.com/bbenzikry/spark-eks

While we don't use 3.1, you can find an example for a 3.0.1 custom build with glue support in the following repo: https://github.com/bbenzikry/spark-glue
Should be very similar for 3.1

[2020-11-02 17:38] bkosuru commented on #1052
I removed namespaces section in Prometheus Config for job_name: prometheus-io-scrape.
Now I can see the spark metrics in Prometheus

[2020-11-02 17:38] #1052 closed

[2020-11-03 00:34] ocassetti commented on #945
@dexterhu the driver also requires those files

[2020-11-03 22:12] psschwei commented on #1021
New Location For Stable and Incubator Charts: https://helm.sh/blog/new-location-stable-incubator-charts/

[2020-11-04 23:35] tommyongib commented on #1044
@liyinan926 could you please provide more details on the wording "limited form of dynamic allocation" ? Why is it limited and what would a "full" support be? Thank you.

[2020-11-06 08:48] jbguerraz commented on #744
Same here, a JDBC/ODBC support would be cool! :+1: I didn't dig it yet but I'm ready to help!

[2020-11-06 21:30] akhurana001 opened #1055 "Spark v1beta2: Incorrect Driver/Executor Resources"
As part of migrating to v1beta2, we ran into an issue where the driver/executor cores/memory values in spark_conf were up getting overridden to defaults set in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/apis/sparkoperator.k8s.io/v1beta2/defaults.go#L50 .

Looking at https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/controller/sparkapplic

[2020-11-07 04:14] shardulsrivastava commented on #1053
@joanjiao2016  as per my understanding, you don't see it in the endpoint because this port is not exposed as part of the service, so this port is accessible on each individual driver and executor pod however service definition didn't contain this port.

you can check your pods whether they have this port exposed or not by running this command.
[code]

Note: this label `version: 3.0.0` is added in

[2020-11-08 08:36] erictanghu commented on #931
got same problem

[2020-11-08 23:18] jkleckner opened #1056 "Correct the example yaml files to take into account issues with mounting host /tmp"
Mounting the host /tmp directory into a container can cause problems with permissions as described in this issue comment https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/815#issuecomment-592239293

Should these examples such as [1] be modified to avoid this problem?

[1] https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi.yaml#L32-L54

[2020-11-09 07:15] HagaiBarel commented on #1021
@liyinan926 any news? Willing to help out if you'd like

[2020-11-09 16:42] liyinan926 commented on #1021
@HagaiBarel thanks for being willing to help! It's great if you can help with migrating the chart.

[2020-11-10 00:12] akhurana001 commented on #1055
@liyinan926 lemme know what your thoughts are on this. I also created https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1057 to add a check for spark-conf if this looks fine .

[2020-11-10 01:56] tinawenqiao commented on #1053
@shardulsrivastava   8090 port is not exposed on driver pod. How to expose this port？Can you give us a detailed example.
` wenqiao@bogon  ~/work/bigdata/k8s/spark/spark-on-k8s-operator/manifest   master ●  kubectl get pods -l version=3.0.0  -o json|jq -r '.items[].spec.containers[].ports'
[
  {
    "containerPort": 7078,
    "name": "driver-rpc-port",
    "protocol": "TCP"
  },
  {
    "contai

[2020-11-10 06:52] HagaiBarel commented on #1021
@liyinan926 Sure thing, will work on a PR. The idea is to add a `charts` folder (see https://github.com/kubernetes/autoscaler/tree/master), and once we have that going we work on automation on how and where to publish the chart

[2020-11-11 09:00] Sushant20 opened #1060 "Spark Driver Pods gets stuck"
We have observed that sometimes all spark driver pods gets stuck for hours in particular namespace.There seems to be some  connection issue between driver and executors as per initial investigation. Issue gets resolved if we delete one of the executors manually
Spark driver pod message says
`The resource version ******* no longer exists. Scheduling a reconnect`. Have we seen this issue before ?
cc

[2020-11-11 12:48] roitvt commented on #1041
Also add:
  hadoopConf:
    "fs.s3a.aws.credentials.provider": "com.amazonaws.auth.WebIdentityTokenCredentialsProvider"
So it will use the right credentials

[2020-11-11 14:29] fisache commented on #1004
hi, it looks like same issue https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1058.

[2020-11-11 16:35] shardulsrivastava commented on #1053
@tinawenqiao you should get this port exposed in your driver and executor pods by following [this](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi-prometheus.yaml) example.

If you're not getting it, can you share your yaml manifest and the output of this command ( in a gist, would be easier to read):

[code]

[2020-11-11 19:01] liyinan926 commented on #1055
Fixed in #1057.

[2020-11-11 19:01] #1055 closed

[2020-11-12 03:36] tinawenqiao commented on #1053
@shardulsrivastava Yes, we try to expose 8090 metric port by following that example. But we didn't get it.
{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",
            "kind": "Pod",
            "metadata": {
                "annotations": {
                    "prometheus.io/path": "/metrics",
                    "prometheus.io/port": "8090",

[2020-11-13 00:50] fisache opened #1062 "Volcano pod group removed point"
The spark application injected with the volcano scheduler does not delete the pod group when the state of the spark application is changed to a completed or failed.
It can only be removed from the volcano queue by spark application deletion command or TTL timeout.
This will cause new pod groups to be scheduled to get stuck(pending) in the queue until spark application removed.
In my opinion, it wo

[2020-11-13 02:32] mmhhss commented on #1010
I am facing with same issue on pyspark version.
describe sparkapplication everything is fine and it starts the driver.
But driver logs hang after "exec /usr/bin/tini -s -- /usr/bin/spark-operator driver --properties-file /opt/spark/conf/spark.properties --class org.apache.spark.deploy.PythonRunner local:///opt/spark/examples/src/main/python/kmeans.py"

[2020-11-13 13:30] bofaalsarah opened #1063 "Unable to create CustomResourceDefinition"
Hello,

I am trying to setup the spark operator on minikube with  --kubernetes-version=v1.18.10. When applying the yaml files in the manifest directory, I am not able to apply the ones in the crds directory which are the ones responsible for creating the CustomResourceDefinition. I am getting this below error when trying to do so,

`The CustomResourceDefinition "sparkapplications.sparkoperator.k8s

[2020-11-15 04:09] scravy opened #1065 "CRDs fail to deploy on k8s 1.18"
I am getting these:

[code]

This happens with both releases `spark-on-k8s-operator-1beta2-1.2.1-3.0.0` as well as `spark-on-k8s-operator-1beta2-1.2.0-3.0.0`

Using:

[code]

[2020-11-15 04:17] scravy commented on #1065
This seems to be the underlying issue: https://github.com/kubernetes/kubernetes/issues/91395

[2020-11-15 04:20] scravy commented on #1063
Are you using k8s 1.18? I am facing the same problem, I believe it is related to https://github.com/kubernetes/kubernetes/issues/91395

[2020-11-17 06:29] cwei-bgl opened #1067 "spec.driver.coreRequest 0.5 not working"
Hi, this is the issue following [the previous question](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/925). it looks setting spec.driver.coreRequest to 0.5 is not working. I am using Spark 3.0. I inspected related yaml.
[code]

when I issue the following command, I get
```kubectl describe sparkapplications```
[code]
when I inspect driver, I get:
[code]
when I inspect executor

[2020-11-17 06:29] kobikis opened #1068 "ScheduledSparkApplication application metrics"
Hi,

Since ScheduledSparkApplication name contains generated suffix for example: my-app-name-1605592986890316782 it impossible to create ServiceMonitor.
In ServiceMonitor I'm configuring a selector to the Service , but since sparkoperator.k8s.io/app-name value is generated it's not match.

**ServiceMonitor:**
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
...
  namespaceSelector:
     m

[2020-11-17 08:37] jenoOvchi opened #1069 "Manage SparkApplications with different Spark versions by specifying Spark version inside manifest"
Hi!
Is it possible to use two different Spark Operator instances to run SparkApplications with different Spark versions by specifying Spark version inside manifest?
For example:
We have 2 Spark Operators inside Kubernetes cluster - 1 from Cloudflow with version 2.4.5 and 1 installed manualy from official Helm repo with version 3.0.0. We deploy SparkApplications manifest, where we specify sparkVers

[2020-11-17 08:51] marktanzy opened #1070 "How to expose port apply the resident application service?"
I write a resident application which accept http request listen on 8000, then apply the application through the command ` kubectl apply -f k8s.yaml`. how can I export the internal container port 8000 to external network. I look up the SparkApplication conf properties, I find no such options in the yaml file to expose the internal server listen tcp port.

help me please!
help me please!
help me ple

[2020-11-17 09:31] kz33 commented on #1067
@cwei-bgl ,You can try to set `coreRequest: "500m"`,it works for me.

[2020-11-17 10:16] kz33 commented on #1010
@kocham Can you share your driver logs?

[2020-11-17 10:28] kz33 commented on #1010
@mmhhss I think you built the spark:v4.0.0 image by mistake.
The following is the correct way:
[code]
cd spark-docker && docker build -t spark:v4.0.0 -f Dockerfile

and You use this image `gcr.io/spark-operator/spark-py:v3.0.0`  if you want to run pyspark

[2020-11-17 10:43] kz33 commented on #1069
@jenoOvchi  Your 2.4.x job can't run  with spark 3.0 via the spark-operator 3.x ?

[2020-11-17 10:45] kz33 commented on #1069
I remember there was the same issue before #961

[2020-11-17 12:28] joanjiao2016 commented on #1053
I found the port on inside the  spark pods，use  the command “kubectl port-forward " can get the metrics .

[2020-11-17 12:28] #1053 closed

[2020-11-17 13:37] jenoOvchi commented on #1069
I don't know, but Spark Operator with Spark 3.0.0 not supported by Cloudflow - his lead developer says that now Cloudflow not working correctly with newest version of Spark Operator and support of this not in the roadmap.

[2020-11-17 16:35] jgardner04 opened #1071 "Helm 3 Chart Release Branch"
#1066 creates the GitHub action to publish the index.yaml needed to use the Helm 3 chart. It is configured to publish this to a `gh-pages` branch. The action is failing because this branch does not exist. Without the GitHub Pages configuration using the chart as a Helm Dependency fails. To correct this:

* Create a `gh-pages` branch.
[code]

* [Configure GitHub Pages](https://guides.github.com/fea

[2020-11-17 18:06] batCoder95 commented on #639
Hi @bbenzikry,

Just wanted to check if you have come across such an issue? Since GCP operator does not have S3 in itself by default, the parameter spec.deps is not accepting S3 files as dependencies. If you have seen such an issue, is it possible for you guide on this?

I also tried the above mentioned approach by @kodelint, where I tried adding aws-java-sdk and hadoop-aws jars, but still not abl

[2020-11-17 23:34] cwei-bgl commented on #1067
@kz33 Thanks I will try that out.

[2020-11-18 00:14] cwei-bgl commented on #1067
@kz33 I tried coreRequest: "500m", It is not working. Could you paste me the information with the command I used above please?

When I looking at spark-operator logs:

[code]

[2020-11-18 02:45] kz33 commented on #1067
@cwei-bgl I'm not sure if the version of your operator corresponds to the code on the master branch.
I can find the following code in `pkg/contrpller/sparkapplication/submission.go` to support `driver.coreRequest`

[code]

So I guess your operator code is not up to date, can you confirm it?

Or can you try gcr.io/spark-operator/spark-operator:v1beta2-1.2.0-3.0.0?

[2020-11-18 02:59] cwei-bgl commented on #1067
@kz33 Thanks for your time. I can confirm I am using spark-operator:v1beta2-1.2.0-3.0.0. This is the output from
`helm list -n spark-operator`

[code]

[2020-11-18 03:26] kz33 commented on #1069
Well, I think that if the two operators are not watch the same crd version, they can work normally

[2020-11-18 06:49] jordanbailes commented on #1065
I came across this problem also. Has been fixed in a previous release with https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/commit/5b2fe9218108baa6456eb3472196d5eb55b41efd

Essentially to get this working with the chart checked into this repo, find anywhere where
`x-kubernetes-list-map-keys: ` contains `- protocol` and add it into the required

e.g.
`                          ports:

[2020-11-18 12:26] bbenzikry commented on #639
Hi @batCoder95 , as @liyinan926 mentioned, this should be resolved by baking the jars into the operator image. Are you using my operator image / something based on that for hive-site.xml inclusion? If so, we do not include the S3 jars there. If you did add the jars to the operator image - what scheme are you using? s3? s3a? do they both fail?

[2020-11-18 19:25] akhurana001 commented on #1065
Ran into this as well and cherry-picking https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/commit/5b2fe9218108baa6456eb3472196d5eb55b41efd does fix the issue thou the latest crd on master is broken.

[2020-11-18 19:28] jenoOvchi commented on #1069
This is exactly what my problem is - all this operators use the sam API version (v1beta2 - https://github.com/GoogleCloudPlatform/spark-on-k8s-operator#version-matrix) and different CRDs.

[2020-11-19 00:56] tommyongib opened #1073 "Running multiple steps in sequence?"
In EMR, you can spin up a cluster and submit multiple steps to be running in sequence. In spark-on-k8s-operator, it appears that there can only be 1 job to run in a SparkApp, then the SparkApp (cluster) will terminate. Is there a way to run multiple steps in sequence? Thanks!

[2020-11-19 05:31] cwei-bgl commented on #1067
@liyinan926 can you help with this? Thanks.

[2020-11-19 07:57] afilipchik commented on #889
hi, what is exactly incompatible? we added an istio waiter to the image and executor starts. But then fails with:
`20/11/19 07:55:58 INFO TransportClientFactory: Successfully created connection to spark.spark.svc/10.X.X.X:7078 after 99 ms (0 ms spent in bootstraps)
20/11/19 07:55:58 ERROR TransportResponseHandler: Still have 1 requests outstanding when connection from  spark.spark.svc/10.X.X.X:707

[2020-11-19 09:58] robbo10 opened #1075 "Spark job not executing with using network policies in namespace"
Hello,

We have the spark operator deployed onto our kubernetes clusters, when we submit a spark job it successfully starts both the driver and executor pods.

Without network policies existing on the namespace everything works fine and the job completes as expected.  However once we introduce network policies we get the following error from the driver pod, which results in the job never completin

[2020-11-19 11:00] #1075 closed

[2020-11-19 11:20] batCoder95 commented on #639
Hi @bbenzikry,
I'm kind of using a combination of above answer about baking in the JARS with operator and the dockerfile I got from your [spark-eks](https://github.com/bbenzikry/spark-eks) repo.

Basically, I'm following below steps in a custom Dockerfile
- Use the GCP operator image as base image
- Add and Unzip Hadoop Distribution from [Apache Mirrors](http://mirrors.whoishostingthis.com/apache/

[2020-11-19 15:51] bbenzikry commented on #639
There are a few things I see here;

1. You're still using the spark version available in the operator, but you're adding the hadoop-cloud jar ( which is just for working with S3A commiters ) - this jar is compiled to work with the 3.0.1 distro from my repo - not sure what this will do.
I'm pretty sure you don't need S3A commiters for anything in the operator itself, just for job execution dockerfi

[2020-11-19 18:16] FloraZhang opened #1076 "Executor is dead but kubectl describe still shows as RUNNING"
Hi expert,

I noticed sometimes there's a mismatch between executor state shown in "kubectl describe sparkapplications" and the actual executor state. In a recent helm deploy, for example, the executor1 is already dead, but it's still showing as running in "kubectl describe sparkapplications":

[code]

Could it be a similar issue like this one? https://github.com/GoogleCloudPlatform/spark-on-k8s-o

[2020-11-19 22:11] cwei-bgl commented on #1067
Hi @kz33 , could you issue these commands in your environment and paste me the relevant parts please? Thanks.
[code]

[2020-11-20 04:59] fisache commented on #1076
it's resolved at https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1074

[2020-11-20 05:06] FloraZhang commented on #1076
@fisache Thank you. Good to know that. I'll grab the latest operator and give it another try.

[2020-11-20 06:45] spkchels opened #1077 "Webhooks on spark-operator deployed through operatorhub"
I deployed gcp-spark operator on k8s. Its working perfectly fine. Able to run scala and python jobs with no issues.

But, I am unable to create volume mounts on my pods. Unable to use local fs. Looks like spark-operator should be enabled with webhooks for it to work.

There was an spark-operator with webhooks yaml here, but the names used in it are different to the deployment coming through the op

[2020-11-20 06:51] batCoder95 commented on #639
Ahh....this is really helpful @bbenzikry . As per your suggestion I tried removing everything from the Dockerfile except AWS-Java-SDK for Spark, and also added the Guava Jar as per your git link.

But then I started to get Hadoop-S3A-File-System-Not-Found errors. So on investigating further, I realized that Hadoop JARS need to be copied from Apache-Mirrors Hadoop Distro into Spark-Jars-Path (/opt/

[2020-11-20 07:00] kz33 commented on #1067
Hi, @cwei-bgl
describe sparkapp:
[code]

driver:
[code]

executor:

[code]

[2020-11-20 08:43] mgorbov opened #1078 "Example is failed with error /opt/entrypoint.sh: line 40: /tmp/java_opts.txt: Permission denied"
Example: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi.yaml

Operator values
[code]

Driver logs
[code]

[2020-11-20 13:20] bbenzikry commented on #639
@batCoder95, I'm guessing the service account on the operator pod itself should have the proper credentials / IRSA role defined. as mentioned here - https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/404#issuecomment-582579692, if you're using deps and not ``mainApplicationFile``, the operator resolves files using its own chain.

[2020-11-21 12:12] vislante commented on #1010
@kz33  we used v3.0.0 image and driver is up and running without any issues. I checked with UI and see that deploymode as client even when i am changing it to cluster in the yaml file.

![image](https://user-images.githubusercontent.com/6615306/99876970-9505b480-2c35-11eb-8e1d-2680902a0e4a.png)
![image](https://user-images.githubusercontent.com/6615306/99876998-dac27d00-2c35-11eb-8fad-9daa8af0da1f

[2020-11-21 14:47] jystephan commented on #1076
Hello guys -- we ran into the same issue today at [Data Mechanics](https://www.datamechanics.co).

@fisache are you sure that https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1074 fixes it?

In this case, the application is running, and there are executors that appear are running, even though they're actually dead. In #1074, the logic only applies when the application is completed

[2020-11-22 02:27] kz33 commented on #1010
Hi @vislante , You did nothing wrong and this [link](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#specifying-deployment-mode) will answer your doubts.

[2020-11-22 02:32] vislante commented on #1010
@kz33 thank you... any idea why executors are not launched?

[2020-11-22 07:16] kz33 commented on #1010
@vislante Can you share your driver logs?
Did you use this demo （[expamles/spark-pi.yaml](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/examples/spark-pi.yaml)）? If not, can you share your yaml ？

[2020-11-22 07:30] kz33 commented on #1031
@nileshbhadana I think there should be no such configuration, but you modify the code of operoter and implement this function through a custom operator。

If you can, you can try to comment the following code in `pkg/controller/sparkapplication/controller.go`：
[code]
But I am not sure if it will cause other problems 😂

[2020-11-22 11:09] vislante commented on #1010
@kz33 Here are the logs from driver

++ id -u
+ myuid=185
++ id -g
+ mygid=0
+ set +e
++ getent passwd 185
+ uidentry=
+ set -e
+ '[' -z '' ']'
+ '[' -w /etc/passwd ']'
+ echo '185:x:185:0:anonymous uid:/opt/spark:/bin/false'
+ SPARK_CLASSPATH=':/opt/spark/jars/*'
+ env
+ sed 's/[^=]*=\(.*\)/\1/g'
+ grep SPARK_JAVA_OPT_
+ sort -t_ -k4 -n
+ readarray -t SPARK_EXECUTOR_JAVA_OPTS
+ '[' -n '' ']'
+ '[

[2020-11-22 23:29] weicheng113 commented on #1067
@kz33 Thanks. I will have a look.

[2020-11-23 00:11] weicheng113 commented on #1067
@kz33 @liyinan926(if you have time, please do help) I noticed a difference in your `kubectl describe sparkapplications`.

Yours
[code]

Mine
[code]

The order of attributes 'Cores' and 'Cores Request' are different. The reason I suspect this because when I look at spark-operator logs, I see the following:

[code]

You can see that `spark.executor.cores=1`, I think @kz33 yours will be `spark.execut

[2020-11-23 00:54] fisache commented on #1076
@jystephan hello,
Actually, the state sync by spark-operator is triggered not only application state changed but only pod states including driver and executors changed(add, update, delete).
Even though the app is COMPLETED with running state of executor pods, the executor pod is deleted eventually, it's triggered again with the app is completed state.

If any question or suggestion, please reply a

[2020-11-23 03:03] kz33 commented on #1067
@weicheng113 I am curious, why is it `Cores Request` instead of `Core Request`? Can you share your yaml?
Mine:

[code]
this is `coreRequest`，not `coresRequest`

[2020-11-23 03:07] kz33 commented on #1067
@weicheng113
spark-operator log
[code]

[2020-11-23 03:12] cwei-bgl commented on #1067
@kz33 Good catch, that might be the problem. Let me try that out. Thanks for the spark-operator log output.

[2020-11-23 03:26] kz33 commented on #1010
Hi, @vislante , thank you for your driver logs
but I did not see any errors log.

My idea is that we can find some error logs from your operator log for analysis together, and you can see if the executor pod is created and if there is any useful error information for us to analyze.

you can see operator logs by running the following command:
[code]
If you want, you can share your yaml file. I hope

[2020-11-23 03:31] weicheng113 commented on #1067
@kz33 by the way, I am not writing with yaml. I have implemented java(actually scala) classes for spark operator related objects.

[2020-11-23 03:44] weicheng113 commented on #1067
@kz33 super! Just tried. worked like a charm! Thanks a lot @kz33 .

By the way, spark-operator should reject coresRequest and not display it in `kubectl describe sparkapplications`? which is misleading.   @liyinan926

[2020-11-23 03:45] #1067 closed

[2020-11-23 11:07] jrj-d commented on #1076
Hey @fisache, chiming in. Thanks for your work!
I work with @jystephan .

In this case we had:
- in the status section of the `sparkapplication`:
    - app marked as `RUNNING`
    - two executors marked as `RUNNING`
- in reality (by listing pods):
    - the app is indeed running (the driver pod is `RUNNING`)
    - no executor pod is running

Does this kind of error has something to do with the fix

[2020-11-23 12:44] fisache commented on #1076
@jrj-d hello.
As your mention, the PR fixes only last of spark application life (completed or failed).

I did some experimental about deleting executor pod forcely (`exec-1` and `exec-2` executor pods delete).
[code]
and after driver is completed, it shows
[code]

If what you said is similar to the above, I think I should check

[2020-11-23 12:58] jrj-d commented on #1076
This is not exactly the same issue, but it might be related indeed.
I have a hard time reproducing it, but I'll give it a try!

In our case we saw something like this (this is taken from your example):
[code]
when list pods with k8s gave:
[code]
NAME                                             READY   STATUS    RESTARTS   AGE
spark-pi-ca86d075f51428f1-exec-1                 1/1     Pending   0

[2020-11-23 13:15] batCoder95 commented on #639
Ahh...that's exactly what it was...when I updated my helm installation command to provide a pre-existing service account with  IAM role attached to it, it worked fine. Thanks a ton for the guidance @bbenzikry. Very grateful :). Cheers :)

[2020-11-23 21:00] #1073 closed

[2020-11-23 22:25] spkchels commented on #1077
I purged the init object and redeployed. The manifest was successfully applied.

[2020-11-23 22:25] #1077 closed

[2020-11-23 22:33] spkchels commented on #946
I am facing the same issue. Installed the operator with webhooks. But, doesn't seem to solve the problem. How did you manage to fix this?

[2020-11-24 12:40] kaaquist commented on #1018
Any fix, I also get this here error, when I launch python applications.

[2020-11-24 17:54] Fixmetal commented on #946
Just faced the same issue amongst different applications which run on separate NS with the same Spark Operator version.
K8S version is not an issue here.
[code]
Been verifying:
- webhook consistency and functionality
- rbac stuff

Everything is in place. My application was running, I ran a pipeline to deploy a new version and bam just failed and never get healthy again. #508 is of no help either s

[2020-11-24 19:02] jkleckner commented on #1071
@liyinan926 Can we unblock this?

[2020-11-25 20:41] jkleckner opened #1085 "New helm3 chart problem with nodeSelector and tolerations"
I'm finding that `nodeSelector` and `tolerations` don't work declared in the executor spec.

The `nodeSelector` works if put directly in  the `spec` *and* if the label is fully qualified with `kubernetes.io/` as for example `kubernetes.io/hostname: "docker-desktop"` but tolerations don't work even with trying out various paths.

_Originally posted by @jkleckner in https://github.com/GoogleCloudPla

[2020-11-25 22:10] spkchels commented on #946
Had a few issues, specifically with TLS. Corporate proxy was causing self signed tls verification issue. Did the below.  Maybe there are a few redundant / not required steps here. But, it worked.

- Set echo $no_proxy -> localhost,.svc
- Started the cluster with no_proxy environment vairable; minikube stop; minikube delete; minikube start --insecure-registry=quay.io:443 --cpus=6 --memory=10907  --

[2020-11-25 22:13] spkchels commented on #946
@Fixmetal what do you see in the apiserver logs? There could be hints for why the driver is not starting. Also, the Operator pod logs. I saw TLS issues in both these places which was causing the driver to fail.

[2020-11-25 22:34] jkleckner commented on #1085
I'm testing with `docker-desktop` with `K8s Rev: v1.19.3` on my Mac.

From a clean k8s state in docker, run:
`helm   install   spark-operator  .../github.com/GoogleCloudPlatform/spark-on-k8s-operator/charts/spark-operator-chart   --namespace spark-operator   --set sparkJobNamespace=spark   --set rbac.create=true   --set enableWebhook=true   --set enableMetrics=true`

Then apply the attached yaml a

[2020-11-26 00:00] arijitdey opened #1086 "Unable to mount secrets as volumes to SparkApplication"
Manifest:
[code]
Error:
[code]

If I comment out, the following line, then the error goes away.
[code]

[2020-11-26 07:07] HagaiBarel commented on #1085
Hi @jkleckner, as far as I understand this isn't an issue with the chart itself, but while trying to create a `SparkApplication`. From looking at the attached `.txt` file, I think the issue is you're defining the `tolerations` and `nodeSelector` under `.spec` and not in the `executor` / `driver` sections.

Try the following:

[code]

And the same for the executor

[2020-11-26 13:16] ityuhui opened #1087 "Unable to install the operator with Helm3"
Hi there
I want to install this operator in my k8s cluster with Helm3 but cannot succeed. Below is my step:

[code]

Could you please help check this ?  Thanks.

[2020-11-26 13:29] Fixmetal opened #1088 "Apache Spark 2.3 app on which Spark Operator version"
Hello everybody,
I've setup this operator to be working for a bunch of applications. I've been using `v1beta2-1.1.2-2.4.5`.
I'm struggling because I don't understand the compatibility between Spark and the Spark operator really. The [overview](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/tree/v1beta2-1.1.2-2.4.5#overview) states `Supports Spark 2.3 and up.` so I've come to the idea

[2020-11-26 15:09] jordanbailes commented on #1087
You need to add the spark-operator namespace

[2020-11-27 00:13] jkleckner commented on #1085
That was what I had for my original spark app spec that worked with the old chart:
[code]

I tried many many combinations and found that I could get the `nodeSelector` to work if elevated to be under the spec but couldn't get tolerations to propagate even with qualifying them with `kubernetes.io/`.

I also found that there is a need to not only install with `--set enableWebhook=true` but also with

[2020-11-27 03:21] puneetloya commented on #889
Its discussed here: https://github.com/istio/istio/issues/27900. So may be Istio has a fix in upstream but may have not released it yet.

[2020-11-27 03:25] ityuhui commented on #1087
Thank you @jordanbailes  !
The solution resolves my problem.

Hi @liyinan926
May I create a PR to update the readme/guide for this problem? I think somebody will have the same question in the future.

_This will install the Kubernetes Operator for Apache Spark into the namespace spark-operator, **_if the namespce spark-operator does not exist, create it by manul, e.g._**
 ```kubectl create namespa

[2020-11-27 04:28] ityuhui commented on #1087
But from [Quick Start Guide](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md), I can see

[code]
_Installing the chart will create a namespace spark-operator if it doesn't exist_

[2020-11-27 06:22] ityuhui opened #1089 "Unable to run example spark-pi with the error "Unable to connect to the server: stream error: stream ID 1; INTERNAL_ERROR" in k8s v1.16.1"
After I installed the spark-on-k8s-operator,  I cannot run the example spark-pi

[code]

I also cannot get sparkoperator with the same error:

[code]

My env:
[code]

And my installation step is in #1087

[2020-11-27 08:56] stijndehaes commented on #182
@liyinan926 I see this has been implemented in the branch, but not sure what the status of that branch is the last commit was from July? Is this still being worked on? Has it been abandoned? If possible I am willing to help with making this land.

[2020-11-27 21:23] kumare3 commented on #182
@stijndehaes we actually use this branch in production at Lyft and has been the way to migrate from spark 2 - spark 3. It does add the additional dependence on jobs api (which is a little brittle) but we are still happy with this change as this allows us to transparently migrate our users.
We run spark in GitHub.com/lyft/Flyte project

[2020-11-28 02:56] ityuhui commented on #1089
Today I tried in a new k8s cluster (v1.19), and the example spark-pi can run succeed.

[code]

So I think this is a compatibility issue with k8s/golang/spark operator

[2020-11-28 12:28] shekarreddy568 commented on #900
Hey ,

We are also facing the same issue, Did you solve it by any chance?

[2020-11-29 09:47] YoavNordmann commented on #900
Actually, we did...
We are using TypeSafe's Config library.
Our configuration is written in conf files.
We take all properties which start by "spark" and create key-value pairs in a map to be "fed" into the spark session on creation.
Turns out, when Config handles the key as a path and therefore whenever there was a "\" in the key, Config would wrap it with quotation marks and thus be "path" compl

[2020-11-30 02:24] fanzhongyu commented on #1013
#
# Copyright 2017 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
#

[2020-11-30 07:46] #1070 closed

[2020-11-30 19:29] jinxingwang commented on #1013
Can you do a describe drive pod? do you see a env added in that spec?

[2020-12-01 03:28] fanzhongyu commented on #1013
I think most of the problem is caused by this reason：
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/978#issuecomment-659680782
I follow this issue and solved this problem.
Thank you for answering.

[2020-12-01 07:41] HagaiBarel commented on #1071
Pinging @liyinan926 @yuchaoran2011. I'd love to be added as project maintainer to help with this and other `helm` related issues

[2020-12-01 17:06] liyinan926 commented on #1088
You will need a spark operator version based on Spark 2.3.x, like this one https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/releases/tag/v1alpha1-0.4-2.3.x. We stopped maintaining the 2.3 based branch a long time ago so it's lacking features.

[2020-12-01 17:13] liyinan926 commented on #1071
Done. Tried rerunning the action and it succeeded.

[2020-12-01 17:13] Fixmetal commented on #1088
wouldn't the multi-version-support branch work? isn't it purposed for supporting both 2.3 and 2.4?

[2020-12-01 17:15] liyinan926 commented on #1088
Sure, you can use that branch.

[2020-12-01 17:20] Fixmetal commented on #1088
Well in the meantime I started using that. I suppose to make a 2.3 app work it is correct to just override the `spec.sparkVersion` and `spec.driver.labels.version`  `spec.executor.labels.version`, isn't it?

[2020-12-01 17:25] liyinan926 commented on #1088
Yes, and there's some API difference here. You can specify the k8s service account to be used by the pod running `spark-submit` using the following field:

[code]

[2020-12-01 17:31] Fixmetal commented on #1088
Thanks for confirming that. Seems I did everything correctly. Thank you very much.
Now I'm facing some OOM waddayaknow-whatever errors and can't get any ideas on why is that but that's a whole different story

[2020-12-01 17:39] #1071 closed

[2020-12-01 17:41] liyinan926 commented on #1065
This has been fixed in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1084.

[2020-12-01 17:41] #1065 closed

[2020-12-01 17:43] #1016 closed

[2020-12-01 18:51] psschwei commented on #1021
In terms of automation, this seems like a possibility: https://dev.to/jamiemagee/how-to-host-your-helm-chart-repository-on-github-3kdp

Though to use GitHub Pages, it looks like the charts would either:
(a) have to move to the `docs/` folder, or
(b) be hosted in a separate repository

[2020-12-01 23:30] #961 closed

[2020-12-01 23:30] #1014 closed

[2020-12-02 00:02] jgardner04 commented on #1021
I have added the GitHub action for this in PR #1066 and have created issue #1071 to track the creation the the branch. That looks like it is done and the action is succeeding however I don't see the index.yaml file I would expect in the gh-pages branch. I also and not sure of the GitHub Pages for the repo. Is that something someone can let me know so I can test?

[2020-12-02 00:18] jgardner04 commented on #1071
@liyinan926 what is the GitHub Pages URL for the site? I will give it a test. I am not seeing the index.yaml I would expect in the `gh-pages` branch so I will need to dig a bit and find out what is going on.

[2020-12-02 02:27] shinen opened #1092 "Support doc for deployment with yaml & spark operator API specification"
Currently due to company issue, I am not able to use helm to install the spark operator.

I managed to deploy spark operator with webhook using spark-operator-with-webhook.yml in the repository,
but seems there are no detailed support doc for deployment of spark-operator with yaml files, and also API doc for spark operator deployment (e.g. args).

I am now working on  deploying multiple operators

[2020-12-02 02:49] liyinan926 commented on #1021
I found this https://github.com/helm/chart-releaser and will give it a try.

[2020-12-02 08:37] majorinche opened #1093 "can not create operator by helm"
[root@d0404 ~]# kubectl create ns spark-operator
namespace/spark-operator created
[root@d0404 ~]# helm install my-spark chartmuseum/sparkoperator --version 0.8.6
WARNING: This chart is deprecated
Error: rendered manifests contain a resource that already exists. Unable to continue with install: existing resource conflict: namespace: , name: sparkapplications.sparkoperator.k8s.io, existing_kind: api

[2020-12-02 12:05] Fixmetal commented on #1088
@liyinan926 : just to shed some light on this: which base image version should an application based on 2.3 be using with multi-support-version? Is `gcr.io/spark-operator/spark:v2.4.5-gcs-prometheus` fine or 2.3 specific applications should rely on previous `gcr.io/spark-operator/spark:v2.3.0`

[2020-12-02 16:18] jgardner04 commented on #1093
Similar to #1087

Helm has moved away from the Helm 2 model of a central repo for charts. Work is being done in this repo to migrate to Helm 3 and get this deployment working again.

[2020-12-02 16:22] jgardner04 commented on #1021
@liyinan926 this is the tool that I use in the GitHub Action I created in PR #1066. More info on the action can be found in the [Chart Releaser Action](https://github.com/helm/chart-releaser-action)

[2020-12-02 16:46] jutley opened #1094 "Configuring the webhook manually"
I am looking into what it will take for my organization to run this operator, and have same security concerns based on how the webhook is configured.

This application seems to want to manage its own webhook, which means giving it permissions to create, update, and delete mutation webhooks. This is a huge permission, because webhooks can be used to mutate any request or send any request to an exte

[2020-12-02 17:04] jgardner04 opened #1095 "GitHub Action Fails to Release Chart"
When the GitHub action runs to release an update to the Helm Chart, it errors with the following [error](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/runs/1481409848?check_suite_focus=true#step:11:17):

[code]
![Screen Shot 2020-12-02 at 8 59 03 AM](https://user-images.githubusercontent.com/397953/100905237-b0b25b80-347c-11eb-95cd-4d7ba4b8db68.png)

This is because the action is ex

[2020-12-02 17:09] jgardner04 commented on #1071
Update. Tracking problem with #1095

[2020-12-02 17:25] HagaiBarel commented on #1095
@jgardner04 I recommend taking a look at https://www.github.com/kubernetes/autoscaler/tree/master/, they're doing something similar with travis and a chart as well

[2020-12-02 21:07] jutley opened #1096 "Support configuring Service type for Spark UI"
The Spark UI services are currently hardcoded to be ClusterIP types. Our Ingress controller requires services to be of type NodePort or LoadBalancer in order for our external load balancer to reach them. In order to support more Ingress implementations, the service type should be configurable.

[2020-12-03 00:12] #1095 closed

[2020-12-03 00:30] jgardner04 commented on #1095
@HagaiBarel & @liyinan926 we should see this release correctly once we rev. the Spark Chart

[2020-12-03 01:31] liyinan926 commented on #1094
So basically what you would like to see is a way to plugin your own CA bundle in the `MutatingWebhookConfiguration`?

[2020-12-03 01:33] liyinan926 commented on #1096
It should be straightforward to add an API field under `.spec.sparkUIOptions` for specifying the service type, which defaults to `NodePort` if unspecified.

[2020-12-03 01:34] liyinan926 commented on #1088
`gcr.io/spark-operator/spark:v2.3.0` is the one to use. You can also build your own 2.3.x image if you want to have custom jars/deps.

[2020-12-03 08:53] Fixmetal commented on #1088
Thanks a lot. It happens to be working with 2.4.5 as base image really.
Might I suggest to add all these infos in the multi-support-version branch docs?

[2020-12-03 15:04] Fixmetal commented on #982
Would you please share the steps to fix this? And backport this on 2.4.5 docker image too? It just shares the same issue and a `chmod 644` will run into https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/982#issuecomment-668301244

[2020-12-03 16:08] jutley commented on #1094
Perhaps. Truthfully I'm not really sure what the spark-operator does with regards to managing the webhook. If it's all about generating certs, then yes, plugging in my own CA bundle seems sufficient.

This would probably only require mounting a key and cert, then passing some flags to point to them, correct?

[2020-12-03 18:32] Fixmetal commented on #1088
Hello there,
I just patched my 2.3.x applications to use `gcr.io/spark-operator/spark:v2.3.1-gcs-prometheus` as a base image, fixing the https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/591 by using version `4.6.4` of kubernetes-client and fixing dependencies following [this](https://issues.apache.org/jira/browse/SPARK-28921?focusedCommentId=17022625&page=com.atlassian.jira.plug

[2020-12-03 21:52] jutley commented on #1096
I am attempting to implement this. It seems pretty straightforward, but I think I have a newer version of controller-gen. I figured out how to configure it to use the v1 CRD version instead of v1beta1, but there are a bunch of new generated docs for default Kubernetes types. Is it okay if these get added in?

[2020-12-03 22:51] nicholas-fwang opened #1101 "Prometheus operator integration"
If we use the `prometheus operator`, we can easily configure the target pod we want to collect metrics for using `pod monitor` crd and label selector and deploy the `prometheus server`.
The approximate spec of the pod monitor is as follows.
[code]
[code]

The spark operator submits the driver and executor pods, and adds a label related to the spark operator to each pod.
If we want to collect spark

[2020-12-04 02:43] echang0929 opened #1102 "FailedMount Warning when I run example spark-pi-schedule.yaml"
When I run this example I got the following events (kubectl get events):

[code]

You see, there are some warnings. I deployed the operator with customized sparkJobNamespace:
[code]

[2020-12-04 14:11] #1089 closed

[2020-12-04 15:14] shardulsrivastava commented on #982
@Fixmetal  there is a problem with available version of guava library , you gotta do this :

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/spark-docker/Dockerfile#L24-L26

[2020-12-05 17:21] jgardner04 commented on #1021
After merging #1097 the final step is to configure the repo to use [GitHub Pages](https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/about-github-pages#types-of-github-pages-sites).

[2020-12-06 05:55] laughingman7743 opened #1103 "Unable to attach or mount volumes"
I am using this operator on GKE.
Sometimes the secret volume of the GCP service account specified in the secrets fails to mount and neither the Driver nor the Executor is started,and the application does not run with the status of None.
What is the cause? I want to know the solution.

The event log for K8s is as follows.
[code]

The K8s manifesto is as follows.
[code]

[2020-12-06 06:44] HagaiBarel commented on #1021
@liyinan926 @yuchaoran2011 can someone please configure the github pages?

[2020-12-06 13:35] Fixmetal commented on #982
Thanks, I saw that all ADD stuff would get 0600 permissions and just fixed it by using a more generic:
[code]

@liyinan926 : I encourage you (and the team) to use [hadolint](https://github.com/hadolint/hadolint) to avoid getting errors. Plus I suggest a review of [Dockerfile best practices] (https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#add-or-copy).

[2020-12-06 13:39] Fixmetal commented on #946
For reference: there's something odd on the k8s cluster I've been using. We have 3 SCs on the cluster, which are:

- local-path (Rancher fake host past plugin)
- rook-ceph
- trident over Netapp SAN

After a little investigation, I discovered that only local-path would behave correctly. Both the other (real I'd say) 2 SCs would just get a timeout. This has happened in a standard project too which i

[2020-12-06 19:05] jutley opened #1104 "Upgrade CustomResourceDefinitions to use v1 apiVersion"
The apiVersion `apiextensions.k8s.io/v1beta1` has been deprecated since Kubernetes v1.16 in favor of `apiextensions.k8s.io/v1`. One of the new features in `apiextensions.k8s.io/v1` is the ability to set defaults for fields.

As a result of not upgrading, every time this project has regenerated CRDs, they need to be manually updated in order to include `protocol` as one of the required fields in th

[2020-12-07 05:43] liyinan926 commented on #1021
What exactly needs to be configured for Github Pages? What are expected in the `index.yaml` file @jgardner04 mentioned above?

[2020-12-07 05:46] liyinan926 commented on #1103
So the mounting only failed sometimes, right? Have you checked the operator logs?

[2020-12-07 05:50] liyinan926 commented on #1102
Such warnings are benign. The warning is for the ConfigMap volume storing Spark configurations. The ConfigMap gets created by the Kubernetes-specific Spark submission client and gets mounted into the driver container. It is created *after* the driver pod gets created so the submission client can add a ownerReference to the ConfigMap pointing to the driver pod. Eventually the mounting will be succe

[2020-12-07 05:51] liyinan926 commented on #1101
The question is how do we support users not using the Prometheus operator.

[2020-12-07 05:55] liyinan926 commented on #1104
Thanks for creating this issue @jutley. Wondering would you be willing to send a PR for the fix?

[2020-12-07 06:20] HagaiBarel commented on #1021
You need to go to the repo settings page -> options, and scroll to the bottem to find the github pages section. Than just enable it and select the `gh-pages` branch. Here's a screenshot from my fork -

![image](https://user-images.githubusercontent.com/3352171/101315961-432f7200-3864-11eb-949c-ee4f00b46351.png)

The `index.yaml` is updated by the `github action` and lists the repository's charts a

[2020-12-07 06:27] liyinan926 commented on #1021
Thanks @HagaiBarel for the info. The `gh-pages` branch has been enabled. I was able to download the `index.yaml` file.

[2020-12-07 06:31] laughingman7743 commented on #1103
Sometimes it happens. I do not know under what conditions it reproduces.
The operator's log is as follows.
[code]

[2020-12-07 06:31] HagaiBarel commented on #1021
Yup, looks good -

[code]

The last part is to update the docs with the new instructions, I'll open a PR for that

[2020-12-07 07:05] fisache commented on #1104
I wonder whether the result of problem solving is `k8s.io` package including `client-go` version up newer than v1.16

[2020-12-07 07:23] fisache commented on #1101
If a user who does not use operator enters the pod monitor spec, a [NoResourceMatchError ](https://godoc.org/k8s.io/apimachinery/pkg/api/meta#NoResourceMatchError) will be raised, the pod monitor creation will be ignored and the spark application will be submitted.

[2020-12-07 07:56] ordukhanian opened #1106 "Support Prometheus PodMonitor Deployment"
Hello,
Could you please support Prometheus PodMonitor configuration and deployment for Spark Operator?
Currently the Spark GCP Operator exposes metrics endpoint, but there is no ability to configure Prometheus integration.

[code]

[2020-12-07 08:50] HagaiBarel commented on #1106
Hi,
`prometheus-operator` integration is usually done using a `ServiceMonitor`, any specific reason to use a `PodMonitor` instead?

[2020-12-07 09:18] ordukhanian commented on #1106
GCP Spark Operator does not deploy a `Service` when Prometheus metrics are enabled. That's why we decided to use a `PodMonitor`.

[2020-12-07 10:19] fisache commented on #1106
hello
I'm also trying to apply pod monitor to spark application.
it's PR for adding container port naming of jmx exporter for pod monitor, but it's not merged currently.
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1099

and I'm developing pod monitor integration with spark operator
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/1101

[2020-12-07 12:16] ordukhanian commented on #1106
@fisache , thank you for the response.
Could you please clarify, you're adding `PodMonitor` for a Spark application(driver and executor pods) or for the operator's pod?

[2020-12-07 13:56] anikin-aa commented on #1106
Hi!

May be we should think of creation of such service ?

It will be nice to optionally submit pod(service)monitor for spark operator during deployment via helm chart.

[2020-12-07 16:48] #1021 closed

[2020-12-07 17:18] jgardner04 commented on #1021
@liyinan926 & @HagaiBarel Awesome! thanks for working on this. I will work on updating the installation documentation.

[2020-12-07 17:53] richerve commented on #855
Same issue here. I think that relying on helm hooks that spawn Jobs is a bad decision for this. In our case, the Secret with the certs was deleted and not recreated. Why? I don't now but there are potential issues like the call for the Job timing out, for example.

What we did instead is use cert-manager to issue a self-signed certificate, and added support for that in our fork of the spark-operat

[2020-12-07 21:47] #1096 closed

[2020-12-07 21:58] jutley commented on #1104
@fisache Unfortunately upgrading the dependencies does not seem to help. Throughout the various minor versions, the definition of a ContainerPort remains constant--the protocol field is required, with a default, and this field is used to identify unique entries.

Since the definition remains consistent, the behavior from controller-gen is also consistent. Of course, updating the dependencies would

[2020-12-08 01:26] fisache commented on #1106
for a Spark application(driver and executor pods)

[2020-12-08 05:59] liyinan926 commented on #1063
The CRDs in the Helm Chart has been fixed in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/1084.

[2020-12-08 05:59] #1063 closed

[2020-12-08 06:01] liyinan926 commented on #1093
The migration has been completed. Please see https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/1021 for more details.

[2020-12-08 06:01] #1093 closed

[2020-12-08 06:07] #730 closed

[2020-12-08 06:08] #807 closed

[2020-12-08 06:09] #911 closed

[2020-12-08 06:11] #531 closed

[2020-12-08 06:12] #733 closed

[2020-12-08 06:12] #774 closed

[2020-12-08 06:13] #702 closed

[2020-12-08 06:14] #835 closed

[2020-12-08 06:15] #821 closed

[2020-12-08 06:15] #988 closed

[2020-12-08 06:17] #981 closed

[2020-12-08 06:17] #1010 closed

[2020-12-08 06:19] liyinan926 commented on #1018
Has anyone tried manually building and using a 3.0.1 `spark-py` base image?

[2020-12-08 06:20] #1017 closed

[2020-12-08 06:21] #998 closed

[2020-12-08 06:22] #1013 closed

[2020-12-08 06:28] #1102 closed

[2020-12-08 06:30] liyinan926 commented on #1078
Seems related to https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/1056.

[2020-12-08 06:42] liyinan926 commented on #1018
This looks like a compatibility issue between Spark 3.0.x and Spark 2.4.x due to changes to the Dockerfile entrypoint. This issue seems to show up if the operator image is based on Spark 2.4.x whereas the app image is based on Spark 3.0.x.

BTW: We have recently migrated the operator chart into this repo because of deprecation of the helm chart repo.

[2020-12-08 06:50] ordukhanian commented on #1106
Right, but our suggestion is to support pod/service monitor configuration (and optional submission via helm chart) for the Spark operator itself, not for the applications.

[2020-12-08 08:38] anikin-aa commented on #1106
@liyinan926 , do you see some value in adding pod(service) monitor for operator pod ? If so, we can open a PR with changes.

[2020-12-09 01:57] fisache commented on #1106
I was confused. The operator's monitoring using prometheus-operator seems to be essential :)

[2020-12-09 03:43] echang0929 commented on #1102
Thank you, @liyinan926 . Look like spark app, rather than scheduled spark app, has no this kind of warning.

[2020-12-09 05:06] #1062 closed

[2020-12-09 06:42] shinen commented on #822
I have already enabled webhook when deploying spark operator, but env & envFrom still not work for both driver & executor.
Only envVars is working

[2020-12-09 06:56] shinen opened #1108 "spec.driver.env/envFrom is not working even when webhook is enabled"
I deployed a spark operator with manifest/spark-operator-with-webhook.yaml, with -enable-webhook=true.
However using env or envFrom doesn't inject the environment variables to driver and executor.

What's the problem?

Following is how I define env in my spark application yml. I have tested deploying each of them separately.

Only envVars(which will be deprecated) works.

    driver:
      env:

[2020-12-09 11:46] pgillet opened #1109 "Spark properties related to deployment are not applied"
Some Spark properties are related to deployment, typically set through configuration file or `spark-submit` command line options with "native" Spark.
These properties will not be applied if passed directly to `.spec.sparkConf` in the `SparkApplication` custom resource. Indeed, `.spec.sparkConf` is only intended for properties that affect Spark runtime control, like `spark.task.maxFailures`.

Examp

[2020-12-11 03:41] ityuhui commented on #1087
Close this issue because it is resovled.

[2020-12-11 03:41] #1087 closed

[2020-12-11 09:38] adux6991 commented on #870
Hi @ibzib, thanks for your team's great work. Could you please share some thoughts on how to run a beam python job on top of SparkApplication? I am working on it but couldn't find a centralized "spark master" where I could submit job via [beam python sdk](https://github.com/apache/beam/blob/v2.25.0/sdks/python/apache_beam/options/pipeline_options.py#L1199):
[code]

[2020-12-11 20:19] ibzib commented on #870
Hi @adux6991, cool to see interest in this. Feel free to reassign yourself to this issue - I am always willing to provide support but I don't think I'll have the time to actually implement this myself any time soon.

### The usual process

You start a Spark cluster using the instructions here: https://spark.apache.org/docs/latest/spark-standalone.html#starting-a-cluster-manually
Then copy the URL

[2020-12-12 12:02] vislante commented on #1010
Hi @kz33

Apologies for the late reply, actually we figured out the issue. We have a master configuration set while initialising spark context. Once we removed that I can see the exec pods getting launched.

[2020-12-13 17:45] glitch-k8s opened #1114 "Volume mounting not happening on executor -- AWS"
Hello,

I am running spark operator on AWS and somehow EFS volume is not getting mounted on executors. While, its happening perfectly fine in case of driver.

I am really stuck on this. Any help/pointers for this.

Regards,
Nishant

[2020-12-14 06:46] #1106 closed

[2020-12-14 07:55] shardulsrivastava commented on #1114
@nishantsh77 could you share your sparkapplication manifest.

[2020-12-14 09:49] sakshi-bansal commented on #790
env is not working for me as well. The spark application config shows it:  driver:
    env:
      - name: ENV1
        value: VAL1

But the env variables are not created inside the pods.

[2020-12-14 09:50] sakshi-bansal commented on #1108
env is not working for me as well. The spark application config shows it: driver:
env:
- name: ENV1
value: VAL1

But the env variables are not created inside the pods.

[2020-12-14 11:24] nishantsh77 commented on #1114
@shardulsrivastava spark manifest file. I redacted some data..Hope its fine

apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: test-aws
  namespace: test
  labels:
   name: ...
spec:
  type: Java
  mode: cluster
  image: "..."
  imagePullSecrets:
   - ...
  imagePullPolicy: Always
  mainClass: ...
  mainApplicationFile: ...
  sparkVersion: "3.0.0"
  restartPolicy:

[2020-12-14 11:32] nishantsh77 commented on #1114
I am facing problem in AWS only. In non-cloud infra its working fine.

[2020-12-14 13:40] nishantsh77 commented on #1114
spark operator version :
- chart version : sparkoperator-0.8.2
- app version : v1beta2-1.2.0-3.0.0

@yuchaoran2011 Please help or shall I migrate to latest version of Spark operator ?

[2020-12-14 13:59] yuchaoran2011 commented on #1114
@nishantsh77 I'm not working on a Spark-related project at the moment. So unfortunately I'm not able to help you look into the issue. Do upgrade the the latest operator and see if the problem still persists.

[2020-12-14 14:57] ordukhanian opened #1115 "Support Grafana Integration"
Hello,
As Grafana dashboards are widely used for monitoring, we suggest that the Spark operator supports integration with Grafana operator.
The idea is to
1. add a GrafanaDashboard Helm template for https://github.com/integr8ly/grafana-operator/blob/v3.6.0/deploy/crds/GrafanaDashboard.yaml
2. add appropriate parameters in values.yaml
3. submit GrafanaDashboard if it's enabled.

Please, let me know

[2020-12-14 15:23] nishantsh77 commented on #1114
@yuchaoran2011 Thanks.
I tried even latest version of Spark operator but its not working on AWS EKS.

[2020-12-14 16:03] nishantsh77 commented on #1114
@liyinan926 I was wondering if you can help on this.

[2020-12-14 17:07] nishantsh77 commented on #1114
Getting exception in sparkoperator during volume mount..

I1214 17:00:00.494155       9 webhook.go:246] Serving admission request
2020/12/14 17:00:00 http: panic serving 10.1.22.119:57744: runtime error: index out of range [1] with length 1
goroutine 149 [running]:
net/http.(*conn).serve.func1(0xc000256000)
        /usr/local/go/src/net/http/server.go:1772 +0x139
panic(0x137a660, 0xc0006234c0)

[2020-12-14 17:15] nishantsh77 commented on #946
@Fixmetal @spkchels @rakshithvasudev in my case volume is getting mounted in driver and failing in executor.

k8s: v1.18.+
Spark Operator: v1beta2-1.2.0-3.0.0 / v1beta2-1.1.1.1-2.4.5
Environment : AWS

When I checked exception logs of spark operator then I got following:

I1214 17:00:00.494155       9 webhook.go:246] Serving admission request
2020/12/14 17:00:00 http: panic serving 10.1.22.119:577

[2020-12-14 18:58] liyinan926 commented on #1114
So you are trying to mount the same volume into both the driver and executor pods?

[2020-12-14 19:39] nishantsh77 commented on #1114
@liyinan926 Yes, I need to access same path from both driver and executor(s).

[2020-12-15 00:38] jkleckner commented on #1114
Although this isn't an answer to your question, be aware that EFS volumes have a limited IOPS budget depending on the size of the volume.  If it is used for more than configuration data, the executors might become constrained by operations to that volume.

[2020-12-15 06:05] glitch-k8s commented on #1114
@jkleckner Thanks for suggestion. Finally, few hours back it worked. Chart version 0.8.2 is working now. My observation is that sparkoperator works in some environments seamlessly and in some it creates lot of problems.

[2020-12-15 07:16] nicholas-fwang opened #1116 "Spark Thrift Server(STS) CRD"
Spark Thrift Server is a daemon server that can execute spark sql through JDBC/ODBC connector.
It can be usefully used in hive's execution engine and BI tool that supports JDBC/ODBC.

I have deployed thrift server on Kubernetes as below.
[code]

Since STS must be distributed in client mode, the spark operator could not be used directly.
Therefore, it is proposed to create a new CRD and deploy the

[2020-12-15 09:29] teddyhartanto opened #1117 "Missing metrics after upgrading to Spark 3.0"
Hi,

We upgraded our spark cluster to 3.0 a while ago and we realised that a few of the metrics that we were tracking are now no longer being exported (from both the Spark Operator & Spark executors). In particular, we're looking at these metrics:

[code]

In our `SparkApplication` spec we have this:
[code]

We're using `gcr.io/spark-operator/spark-operator:v1beta2-1.1.2-3.0.0` for our spark opera

[2020-12-16 01:28] fisache commented on #1101
@liyinan926
Hi,
Prometheus operator currently uses kubernetes client version v0.19.2.
In this version, k8s extention api generated code and k8s api machinary library require `context` in all of APIs by [this enhancement](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20200123-client-go-ctx.md)
So, in order to apply the prometheus operator as well as the latest versio

[2020-12-16 16:14] ets commented on #352
I'm successfully loading a packages requirement with v1beta2 using:
[code]

[2020-12-17 12:19] kaaquist commented on #352
I did also succeed in loading my package this here way.. I'm loading `org.apache.spark:spark-avro_2.12:3.0.0`, with `sparkVersion: "3.0.0"`

I did also try other approaches mentioned above, but with on luck.

[2020-12-19 09:57] deveshcode opened #1118 "Passing virtualenv through conf in sparkonk8s - Is it possible ?"
Is it possible to pass a python custom virtualenv containing the supporting packages for the python file being passed.
The dependencies for my pyspark code to run cannot be all accomodated using the deps -> PyFiles part as they contain transitive dependencies.
I could not find any info regarding this via stackoverflow / quick start / user guide / api docs
Apart from the info that spark config can

[2020-12-21 12:10] Rybaak commented on #1070
Hi, do you find solution -  I ahve the same problem ?

[2020-12-21 12:21] Rybaak opened #1120 "Expose ports on executor pods"
I use a custom connector to database written in java in pyspark app. Connector start listen on internal container port on every executor, and waiting on data be pushed from database. How can I export the internal container random port to external network. I look up the SparkApplication conf properties, I find no such options in the yaml file to expose the internal server listen tcp port.

[2020-12-22 16:15] ramzi-hosisey3 commented on #1001
check the crds .
the chart might no deploy them
this chart version work for me
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator

[2020-12-23 05:08] NKcqx commented on #422
me too

[2020-12-23 14:23] kyprifog commented on #422
Just wanted to make those in this thread aware, in the mean time i've been using this helm chart https://github.com/JahstreetOrg/spark-on-kubernetes-helm developed by @jahstreet  Its based around Livy which is a better fit architecturally for interactive sessions.  spark-on-k8s-operator is still a good fit I think for non-interactive workflows.  Happy to have your help working out any rough edges.

[2020-12-25 04:32] joanjiao2016 opened #1121 "I can't see the batch latency metrics when using the prometheus image"
I have a sparkstreaming application, my Dockerfile is as follows:
[code]

and the sparkapplication yaml is as follows:
[code]

My application was running well after started， but I couldn't find the metrics of streaming batch latency in the url: http://${driverportIp}:8090/metrics

Can anyone help me？Thanks a lot！

[2020-12-31 12:59] kudr2001 commented on #1004
@snithish @FloraZhang It looks like the bug is fixed in "master" branch by @fisache. I also encountered `http: TLS handshake error from 10.0.0.131:56084: remote error: tls: bad certificate` trying to use `hadoopConfigMap`. But then I reinstalled spark-operator from "master" branch using `--set image.tag=latest` parameter and the bug is dissappeared.

[2020-12-31 13:05] snithish commented on #1004
Thanks for the insight @kudr2001

[2021-01-03 17:01] sushiljacksparrow commented on #352
I am getting `Caused by: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found`

Here is my sparkapp.yaml file looks like

[code]

[2021-01-04 08:26] RonBarabash commented on #949
Hey @abhisrao any conclusions on how to handle upgrades?

[2021-01-04 10:50] abhisrao commented on #949
@RonBarabash
No, I've not seen any conclusion yet. However, K8S recommends the below approach to handle CRD upgrade.

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/

We might have to follow similar approach. If there is any better approach, we can discuss.

[2021-01-05 06:56] shinen commented on #1108
Anyone can help?

[2021-01-05 23:39] SandishKumarHN commented on #908
This looks like a compatibility issue between Spark 3.0.x and Spark 2.4.x due to changes to the Dockerfile entrypoint. This issue seems to show up if the operator image is based on Spark 2.4.x whereas the app image is based on Spark 3.0.x.

[2021-01-06 12:16] ketanhdoshi opened #1122 "Spark-pi Example fails - spec.containers[0].resources.requests: Invalid value: "1": must be less than or equal to cpu limit"
The out-of-the-box Spark-pi example fails with the following exception:

[code]

I am following the [Quick Start](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md) example with the latest version of Spark Operator.

I followed the Quick Start instructions to install the Operator as below. Even without setting sparkJobNamespace, the result is the sa

[2021-01-07 05:08] liyinan926 commented on #1122
The example you pasted above has a `coreLimit` that is well below the value of `cores`. You can try increasing `coreLimit` to `1200m`, which will make it valid.

[2021-01-07 06:57] SandishKumarHN commented on #1019
@tfasanga I see similar issue but I clearly see driver svc clsterIp is not been attached

` kubectl describe svc spark-pi-ui-svc -n optik-ae
Name:              spark-pi-ui-svc
Namespace:         optik-ae
Labels:            sparkoperator.k8s.io/app-name=spark-pi
                   sparkoperator.k8s.io/submission-id=49d67c2f-3166-4ce3-aa4a-3058baa2108e
Annotations:       <none>
Selector:          sp

[2021-01-07 07:02] SandishKumarHN opened #1124 "Executor : Failed to connect to spark-pi-1610000110552-driver-svc.namespace.svc:7078"
Error:

`21/01/07 06:15:30 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(root); groups with view permissions: Set(); users  with modify permissions: Set(root); groups with modify permissions: Set()
Exception in thread "main" java.lang.reflect.UndeclaredThrowableException
	at org.apache.hadoop.security.UserGroupInformation.doAs(U

[2021-01-07 09:40] Fixmetal commented on #1088
Any news on this?

[2021-01-07 11:08] ketanhdoshi commented on #1122
@liyinan926 , thanks very much for pointing out my mistake. I was able to reduce the CPU for the executor as below and get it to work. However, setting driver.cores to 0.1 or 100m doesn't work although [this issue](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/581) has a comment that suggests that it might. Is there a way to reduce the CPU for the driver?

[code]

[2021-01-07 17:54] liyinan926 commented on #1122
There's also a `coreRequest` under `driver` for setting the physical core request for the driver. You can set that to a value like `0.5` or `500m`.

[2021-01-08 00:24] bleggett commented on #889
There's nothing for Istio to fix there - running Spark in vanilla standalone cluster mode thru Istio requires a small amount of Spark master configuration is all - I've tested Spark and Istio in that fashion and it works fine, workers talk to masters thru Istio via headless services.

If on top of that `spark-on-k8s-operator` has some additional incompatibility with Istio, more information is need

[2021-01-08 07:01] ketanhdoshi commented on #1122
That was very helpful, I was able to use `driver.coreRequest`. I would suggest documenting this option for the driver and the executor. Thanks for your help!

[2021-01-08 07:01] #1122 closed

[2021-01-09 15:24] AceHack commented on #889
#2 is the problem I'm seeing, also what is the master configuration you speak of?

[2021-01-09 20:24] puneetloya commented on #889
As @bleggett said, 2 has a number of workarounds. @AceHack already mentioned envoy-preflight.
For 1, In Spark apps created by Spark operator and In general for Spark on k8s, Driver listens on the POD_IP. Istio has been dependent on the primary container to be listening on 127.0.0.1. This part is hardcoded in the Spark code.
[code]
 istio/istio#27900 is a fix for that, Istio should be able to work

[2021-01-11 10:36] zzvara opened #1125 "NPE while running Spark 3.1.0"
Operator deployed using:

[code]

Driver logs periodically:

[code]

Executors have weird "test" names:

![image](https://user-images.githubusercontent.com/8371789/104169875-88fdce00-5400-11eb-88c7-25ad415be80c.png)

Streaming job deployed with:

[code]

[2021-01-11 22:37] bleggett commented on #889
@AceHack @puneetloya For the bitnami Spark Helm chart, all you have to do is set the SPARK_MASTER_HOST environment variable to `127.0.0.1` - no Istio changes are required.

Example `values.yaml` I pass to the Bitnami Spark chart:

[code]

Works fine.

[2021-01-12 03:45] SandishKumarHN commented on #1019
we had an istio enabled on our k8s after adding this annotation everything started working
"sidecar.istio.io/inject"] = "false"

[2021-01-12 03:45] SandishKumarHN commented on #1124
we had an istio enabled on our k8s after adding this annotation everything started working
"sidecar.istio.io/inject"] = "false"

[2021-01-12 11:49] Fixmetal opened #1126 "Examples from multi-support branch version are wrong"
All examples in `multi-version-support` shows to use the `.spec.serviceAccount` to let driver know which SA to use for creating Executors pods, but this is wrong: this way the driver expects `default` SA to have the proper permissions to do so. This is mis-leading in an already challenging branch (is it abandoned?). I'm making a PR to fix this.

https://github.com/GoogleCloudPlatform/spark-on-k8s-

[2021-01-12 12:15] nooshin-mirzadeh commented on #1108
I faced the same problem, any solution?

[2021-01-12 13:58] zzvara commented on #507
I deploy multiple Spark Operators using:

[code]

and then I have one `HelmRelease` for each namespace.

[2021-01-12 14:03] doctapp commented on #507
Try removing any one of them and it will corrupt all installations

[2021-01-12 14:08] zzvara commented on #507
What do you mean by remove and what do you mean by corrupt installation?

[2021-01-12 14:10] doctapp commented on #507
We constantly bring up k8s namespaces and then tear them down, therefore, we install/uninstall many Spark Operators. If you only do the above, then all Spark Operators will become corrupted and no longer work as expected except the most recent version. You need many hacks to make it work correctly.

[2021-01-12 17:45] zzvara commented on #507
@doctapp when you tear down Spark Operator before deleting the namespace and you install it after the namespace is created, what can go wrong?

[2021-01-13 14:13] joanjiao2016 commented on #216
I deployed this image， it dosn't support kerberos authentication，is there any solution？Thanks！

[2021-01-13 14:15] joanjiao2016 commented on #216
@bbenzikry   I deployed this image， it dosn't support kerberos authentication，is there any solution？Thanks！

[2021-01-13 15:34] bbenzikry commented on #216
Hi @joanjiao2016, the example image is based on the operator version available at that time - it hasn't been updated with any upstream changes ( specifically for kerberos, I saw there's still a PR open, so I really don't know the status )

@liyinan926 As this is getting some traction, do you want me to PR so it can be available upstream?
Unfortunately I have limited time to iterate on this, but th

[2021-01-13 15:43] doctapp commented on #507
CRDs are defined at cluster level along with the web hook, i.e., they are
not per-namespace...

On Tue, Jan 12, 2021 at 12:46 PM Zoltán Zvara <notifications@github.com>
wrote:

[2021-01-13 16:16] zzvara commented on #507
Is there any way to overwrite CRD's in Helm so that they are not deleted when the chart is removed?

[2021-01-13 16:32] doctapp commented on #507
No standard way other than hacking

On Wed, Jan 13, 2021 at 11:17 AM Zoltán Zvara <notifications@github.com>
wrote:

[2021-01-14 03:53] liyinan926 commented on #1126
They are not wrong. The field `.spec.serviceAccount` is used by the pod running `spark-submit` to be able to create the driver pod. The service account used by the driver pod is separate,.

[2021-01-14 11:53] miloradtrninic opened #1129 "IAM Role STS Assume Role Issue Service account"
Hello all, I am trying to run a Spark job in a AWS EKS cluster. I installed spark operator with helm and using webhook. I have a separate namespace for Spark jobs.
When I try to connect to S3 bucket using s3a interface I am getting an error saying Not authorized to perform sts:AssumeRoleWithWebIdentity
I used settings provided in #1002 from @bbenzikry
Docker image: https://github.com/bbenzikry/spa

[2021-01-14 13:19] miloradtrninic commented on #1129
Fixed: Remove conditions on Trust Policy on the Role or adjust to match service accounts.

[2021-01-14 13:19] #1129 closed

[2021-01-14 16:43] alexakr opened #1130 "RBAC edit operations for CRD"
What is the reason of having in the `spark-operator-rbac.yaml` edit operations (create, update, delete) for CRD? It seems like a security breach.
[code]

[2021-01-14 18:52] Fixmetal commented on #1126
So how can it be that following multi-version-support [manifests](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/tree/multi-version-support/manifest) it:

- doesn't generate any k8s job
- invalidates `.spec.serviceAccount` field (I get an error)
- I get #1088

[2021-01-15 02:13] charlesa101 commented on #331
was this ever addressed, i am having the same issue

[2021-01-15 02:50] shinen opened #1131 "Add -label-selector-filter args for new helm3 chart template"
Currently I need to have -label-selector-filter (mentioned in this section https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#running-multiple-instances-of-the-operator-within-the-same-k8s-cluster).

But seems deployment.yaml in the new helm3 chart does not include this arg.

May I ask if this can be supported?

[2021-01-15 04:27] ketanhdoshi opened #1132 "Application Dependency not working (spec.deps.packages is ignored) and (sparkConf:spark.jars.packages not propagated to executor)"
Application dependencies added using the `deps.packages` seem to be ignored. It should work according to the [docs](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/user-guide.md#specifying-application-dependencies) but other users have mentioned in this issue [#352](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/352) that they are facing the same

[2021-01-15 04:32] ketanhdoshi commented on #352
Neither of the approaches mentioned above worked for me. `deps.packages` seems to be ignored and using the workaround mentioned above:

[code]

gave me this error:

[code]

[2021-01-18 04:30] ketanhdoshi commented on #352
@ets, @kaaquist, would you mind sharing your yaml files that worked for you? I tried the workaround that you mentioned but it didn't work (error included in my post)

[2021-01-18 09:58] tmclouisluk commented on #537
May I know how to set KUBERNETES_REQUEST_TIMEOUT env variable?

[2021-01-18 14:08] kaaquist commented on #352
So here is the `yaml`, I used for my project. I had a custom image that had all jars for `s3` access located under the `/jars` directory of the Spark code. @ketanhdoshi
[code]

[2021-01-18 14:12] ketanhdoshi commented on #1132
I made the change to include `spark.jars.ivy,` as explained [here](https://github.com/bitnami/bitnami-docker-spark/issues/7). A volume for the ivy directory had to be added and mounted in both the driver and executor specs.

[code]

Now the driver is able to find the dependencies and go further. However these options are not being passed to the executor and  it does not see any of the dependencies

[2021-01-18 14:25] ketanhdoshi commented on #352
Thanks, @kaaquist. Not able to make out why the behavior for me is so different from yours.

I was able to make a little progress but ran into another problem:

[2021-01-18 20:53] kaaquist commented on #352
@ketanhdoshi
This here did not work for me.
[code]
I did also find that the:
[code]
only worked for packages located in `mvnrepository`. I was using one from `SparkPackages`  which I had to include separately to the docker images it self. Not sure if that will help you. Another thing is that you can see in the logs fr the jobs when it gets started, that the operator loads the jars files. If that i

[2021-01-19 03:25] zhaohc10 opened #1134 "why crd folder is deleted and install-crds is removed in main.go"

[2021-01-19 16:57] #1134 closed

[2021-01-19 19:00] unnikpr commented on #455
Hi,
I have the same issue with kubernees 1.20 and spark on the 3 node cluster.  enabled webhook and running the same. but the mount is not working as expected. I don't see the ownerReferences, How to fix this issue?

[2021-01-21 07:35] ketanhdoshi commented on #352
@kaaquist. Yes, the `spec.deps.packages` is ignored for me too.

The following works fine for me on the driver.

[code]

However, that setting is not getting propagated to the executor. The executor doesn't find any of those packages and fails as below.

[code]

[2021-01-21 07:48] ketanhdoshi commented on #1132
@liyinan926 any suggestions? Appreciate any help you can provide.

The following is getting ignored altogether.

[code]

And this works fine on the driver but is not getting passed to the executor at all.

[code]

To debug this a bit, I tried adding stuff like the following. In that case, the executor logs do show these jars getting copied over and it is able to find those classes. But too many mo

[2021-01-21 10:21] shinen opened #1136 "Istio-proxy container run only after application container is running. Lifecycle to run command to sleep not working."
As title stated, the consequence is all connection/communication in driver are refused and making my spark job terminated.

Due to some reason, I am not able to upgrade istio to 1.7 or k8s to 1.8 to have solution. Currently I am using istio1.5 and k8s 1.17
I tried to specify postStart lifecycle in driver to exec command "/bin/bash", "-c", "sleep 30" but it is not working.

I tried also to check if

[2021-01-21 16:00] SolomonTomer opened #1137 "Supporting 'timestamped' name for driver pod name"
Hey,

There's inconsistency with [this](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/d757cc11e13fcfc7bfdb5cdaee1f9f10f5a2af49/pkg/controller/sparkapplication/sparkapp_util.go#L46) function that defines the pod name and the generated YAML in this [example](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md#running-the-examples), e

[2021-01-21 16:57] jystephan opened #1138 "Long delay between SparkApplicationAdded and SparkApplicationSubmitted"
Hello all,

There's a small delay (usually 3-4 seconds) between the events SparkApplicationAdded and SparkApplicationSubmitted, as in the logs below:

[code]

I've observed that this delay increases when many applications are submitted roughly at the same time.
In my test, I submitted 4 applications, and here are the times I got:

* App 1: delay of 10 seconds (SparkApplicationAdded 16:37:25, Spark

[2021-01-22 00:30] shinen commented on #1138
Having similar issue. My case is even worst that usually 30~mins needed for an added sparkApplication to be submitted by the operator.

Using latest helm chart to deploy to aks.

During the delay, no event is watched by the spark operator. What I can observe is that only the sparkApplication is created. No driver no executor and no events in spark operator log.

The same also happens to delete eve

[2021-01-22 00:31] shinen commented on #1136
Anyone facing similar issue? Comment/Advice from community is appreciated! Thank you.

[2021-01-22 06:15] unnikpr commented on #785
Hi,
I am new to this would you pleae help me to understand how to do this?
We are using NFS can we use the same share to mount the env.sh?
Also can you share the yaml for CM and application

Regards,
Unni.

[2021-01-22 13:57] Toerq opened #1139 "Missing option to set spec.strategy.type to RollingUpdate"
Hello,

To enable zero-downtime updates of the Spark Operator deployment, it should be possible to set spec.strategy.type to RollingUpdate. This option is not possible to set when installing via helm without downloading the chart.

Can this option be added? Or is there a risk involved with having two different Spark operator versions running in parallel?

[2021-01-22 16:10] ordukhanian opened #1140 "CPU/Memory Limits for the Operator's pod"
Is it possible to set CPU/Memory limits for the operator's pod?
I was able to find setting only for driver's and executor's pods.

[2021-01-23 00:18] dszakallas opened #1141 "Migrate Spark 3 metrics to use PrometheusServlet"
We could utilize Spark 3's prometheus support, instead of using the JMX exporter. This would get rid of the additional complexity and CPU overhead of running the exporter agent. However, I am almost 100% sure this is going to change the exposed set of metrics and their names. Spark's documentation is not to great on the PrometheusServlet usage, here's a better tutorial: https://dzlab.github.io/big

[2021-01-23 19:05] jkleckner commented on #1136
We haven't yet turned on istio in spark pods (have others with it) but were looking at scuttle [1] as an interesting workaround for istio sidecars.

[1] https://github.com/redboxllc/scuttle